
// Link che saranno da eliminare

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

//partials
@import 'partials/variables';
@import 'partials/animations';
@import 'partials/footer';
@import 'partials/restaurant-list';
@import 'partials/restaurant-details';
@import 'partials/restaurant-profile-details';
@import 'partials/my-profile';
@import 'partials/restaurant-create';
@import 'partials/preloader';
@import 'partials/modals';
@import 'partials/back-to-top';

@import 'partials/footer';
@import 'partials/header.scss';
@import 'partials/searchbar';
@import 'partials/landing';

@import 'partials/byebye';
@import 'partials/login';
@import 'partials/pay';


// Proprietà generali
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

//fonts
h1, h2, h3, h4, h5, a, span {
    font-family: 'Fredoka One', cursive;
}
p {
    font-family: 'Raleway', sans-serif;
}

.container-sticky-footer {
    flex-grow: 1;
    // margin-top: 50px;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

// distanziamento da header
main {
    min-height: 100vh;
    // padding: 50px 0px 0px;
}

[v-cloak] {
  display: none;
}
