
// Link che saranno da eliminare

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Proprietà generali
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    background-color:crimson;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}