@import url(https://fonts.googleapis.com/css?family=Nunito);@-webkit-keyframes shrinkbg {
  0% {
    background-size: 110%;
  }

  100% {
    background-size: 100%;
  }
}

@keyframes shrinkbg {
  0% {
    background-size: 110%;
  }

  100% {
    background-size: 100%;
  }
}

@-webkit-keyframes zoombg {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 130%;
  }
}

@keyframes zoombg {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 130%;
  }
}

@-webkit-keyframes bg-landing-rgb {
  0% {
    background: #FFC244;
  }

  20% {
    background: #b993fa;
  }

  40% {
    background: #aaf683;
  }

  60% {
    background: #7ae0ff;
  }

  80% {
    background: #ee6055;
  }

  100% {
    background: #fc927b;
  }
}

@keyframes bg-landing-rgb {
  0% {
    background: #FFC244;
  }

  20% {
    background: #b993fa;
  }

  40% {
    background: #aaf683;
  }

  60% {
    background: #7ae0ff;
  }

  80% {
    background: #ee6055;
  }

  100% {
    background: #fc927b;
  }
}

@-webkit-keyframes float-down {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(30px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float-down {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(30px);
  }

  100% {
    transform: translatey(0px);
  }
}

@-webkit-keyframes float-up {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-30px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float-up {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-30px);
  }

  100% {
    transform: translatey(0px);
  }
}

@-webkit-keyframes up-bump {
  0% {
    padding-top: 2em;
  }

  50% {
    padding-top: 1.5em;
  }

  100% {
    padding-top: 2em;
  }
}

@keyframes up-bump {
  0% {
    padding-top: 2em;
  }

  50% {
    padding-top: 1.5em;
  }

  100% {
    padding-top: 2em;
  }
}

@-webkit-keyframes down-bump {
  0% {
    padding-top: 2em;
  }

  50% {
    padding-top: 2.5em;
  }

  100% {
    padding-top: 2em;
  }
}

@keyframes down-bump {
  0% {
    padding-top: 2em;
  }

  50% {
    padding-top: 2.5em;
  }

  100% {
    padding-top: 2em;
  }
}

/* text typing*/

@-webkit-keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 570px;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 570px;
  }
}

/* cursor animations */

@-webkit-keyframes animated-cursor {
  from {
    border-right-color: #fad20a;
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: #fad20a;
  }

  to {
    border-right-color: transparent;
  }
}

header {
  height: 100px;
  padding: 10px 30px;
  width: 100%;
  z-index: 900;
  background: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  transition: height 0.5s, background-color 0.5s, border-bottom 0.2s;
}

header.scrolled {
  height: 75px;
  background-color: #ffc244;
  box-shadow: 0 0 10px 0 #5e5e5e;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav div.sx-section {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

header nav div.sx-section img {
  vertical-align: middle;
  width: 200px;
}

header nav div.sx-section .ham-container {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  overflow: visible;
  margin-right: 20px;
}

header nav div.sx-section .ham-container .hamburger {
  position: relative;
  z-index: 950;
  line-height: 30px;
  height: 4px;
  width: 30px;
  background-color: white;
  border: 0;
  transition: background-color 0.5s;
}

header nav div.sx-section .ham-container .hamburger::before,
header nav div.sx-section .ham-container .hamburger::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: white;
  border: 0;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

header nav div.sx-section .ham-container .hamburger::before {
  top: -9px;
}

header nav div.sx-section .ham-container .hamburger::after {
  bottom: -9px;
}

header nav div.sx-section .ham-container.active .hamburger {
  background-color: transparent;
}

header nav div.sx-section .ham-container.active .hamburger::before,
header nav div.sx-section .ham-container.active .hamburger::after {
  width: 30px;
  background-color: white;
  left: 50%;
}

header nav div.sx-section .ham-container.active .hamburger::before {
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

header nav div.sx-section .ham-container.active .hamburger::after {
  bottom: 50%;
  transform: translate(-50%, 50%) rotateZ(-45deg);
}

header nav .menulist {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 910;
  font-weight: normal;
  text-align: center;
  padding-top: 50px;
  margin-right: 0px;
  margin-right: 10px;
  -webkit-animation-name: bg-landing-rgb;
          animation-name: bg-landing-rgb;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  transition: left 0.5s, visibility 0.5s, opacity 0.5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header nav .menulist.active {
  left: 0%;
  visibility: visible;
  opacity: 1;
}

header nav .menulist li {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

header nav .menulist li:first-child a {
  background-color: #ffaf53;
  padding: 10px 50px;
  border-radius: 3px;
}

header nav .menulist li a {
  text-decoration: none;
  color: #000000;
}

footer {
  width: 100%;
  background-color: black;
  padding: 50px 30px 30px;
  overflow: hidden;
}

footer .border-footer-divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid white;
  margin: 30px 0;
}

footer a {
  font-family: "Raleway", sans-serif;
}

footer .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .top .logo {
  flex-basis: 50%;
}

footer .top .logo h3 {
  color: white;
  margin: 0 0 25px;
  font-size: 2em;
  font-weight: normal;
  flex-basis: 50%;
}

footer .top .logo h3 span {
  color: #ffc244;
}

footer .top .logo img {
  width: 200px;
  margin: 0 10px 10px 0;
}

footer .top .info {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.15em;
}

footer .top .info ul {
  padding-left: 30px;
}

footer .top .info ul li {
  margin-bottom: 10px;
}

footer .top .info ul li a {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

footer .top .info ul li a:hover {
  text-decoration: underline;
}

footer .bottom {
  display: flex;
  justify-content: space-between;
}

footer .bottom .icons a {
  margin: 0 20px 20px 0;
  display: inline-block;
}

footer .bottom .icons a i {
  font-size: 1.35rem;
  color: white;
  vertical-align: middle;
}

footer .bottom .privacy {
  padding-left: 30px;
  text-align: right;
}

footer .bottom .privacy div a {
  display: inline-block;
  margin: 0 0 20px 20px;
  color: white;
  font-size: 16px;
  font-weight: normal;
}

footer .bottom .privacy div a:hover {
  text-decoration: underline;
}

footer .bottom .privacy .copyright {
  font-weight: normal;
  font-size: 16px;
  color: #ffc244;
}

#appSearch {
  overflow: hidden;
}

#appSearch div.list-jumbotron {
  background-color: #ffc244;
  padding: 115px 10% 40px;
}

#appSearch div.list-jumbotron ul {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

#appSearch div.list-jumbotron ul li.food-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 6px;
  border-radius: 50%;
  background-color: white;
  padding: 10px 10px 25px;
  box-shadow: 0 2px 17px 0 #e19f17;
  cursor: pointer;
  position: relative;
  width: 115px;
  height: 115px;
  transition: transform 0.3s, background-color 0.5s ease, border-width 0.1s, box-shadow 0.3s;
}

#appSearch div.list-jumbotron ul li.food-type.active {
  background-color: dodgerblue;
}

#appSearch div.list-jumbotron ul li.food-type:hover {
  transform: scale(1.1);
}

#appSearch div.list-jumbotron ul li.food-type div.img-container img {
  width: 70px;
}

#appSearch div.list-jumbotron ul li.food-type div.img-container img#carne {
  width: 85px;
}

#appSearch div.list-jumbotron ul li.food-type div.img-container img#sushi {
  width: 90px;
}

#appSearch div.list-jumbotron ul li.food-type div.img-container img#vegan {
  width: 50px;
}

#appSearch div.list-jumbotron ul li.food-type div.img-container input[type=checkbox] {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

#appSearch div.list-jumbotron ul li.food-type .cat-name {
  width: 100%;
  text-align: center;
  font-size: 13px;
  position: absolute;
  z-index: 0;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  font-weight: 600;
  text-transform: capitalize;
}

#appSearch .restaurants-box {
  padding: 0 10% 20px;
  margin: 0 -10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1840px) {
  #appSearch .restaurants-box {
    max-width: 1840px;
    margin: 0 auto;
  }
}

#appSearch .restaurants-box .titles-restaurant-list {
  padding: 60px 10% 30px;
  flex-basis: 100%;
}

#appSearch .restaurants-box .titles-restaurant-list h2 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
}

#appSearch .restaurants-box .restaurant-card {
  flex-basis: calc(100% / 3 - 20px);
  max-width: 350px;
  height: 230px;
  margin: 0 10px 40px;
  overflow: hidden;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

#appSearch .restaurants-box .restaurant-card a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#appSearch .restaurants-box .restaurant-card a .background-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
}

#appSearch .restaurants-box .restaurant-card a .background-image img {
  width: 100%;
  filter: contrast(70%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  transition: transform 0.2s;
}

#appSearch .restaurants-box .restaurant-card a .background-image .categories-card {
  width: 100%;
  height: 100%;
  padding: 20px 10px 10px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#appSearch .restaurants-box .restaurant-card a .background-image .categories-card h3 {
  text-transform: capitalize;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 8px;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

#appSearch .restaurants-box .restaurant-card a .background-image .categories-card .categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

#appSearch .restaurants-box .restaurant-card a .background-image .categories-card .categories-container .category-badge {
  margin: 0 3px 5px;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 8px 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: whitesmoke;
  text-transform: capitalize;
}

#appSearch .restaurants-box .restaurant-card a:hover {
  cursor: pointer;
}

#appSearch .restaurants-box .restaurant-card a:hover .background-image img {
  transform: scale(1.05);
}

#appSearch .restaurants-box .restaurant-card a .bottom-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 5px 15px;
  background-color: white;
}

#appSearch .restaurants-box .restaurant-card a .bottom-info * {
  align-self: center;
}

#appSearch .restaurants-box .restaurant-card a .bottom-info .delivery {
  display: flex;
}

#appSearch .restaurants-box .restaurant-card a .bottom-info .delivery i:hover {
  text-shadow: 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  transition: all 0.1s ease-in-out;
}

#appSearch .restaurants-box .restaurant-card a .bottom-info .delivery .delivery-checkout {
  font-size: 12px;
  padding: 5px;
  margin-left: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  border-radius: 8px;
}

#appSearch .restaurants-box .restaurant-card a .bottom-info .delivery .active {
  background-color: rgba(0, 204, 188, 0.7);
}

#appSearch .restaurants-box .restaurant-card a .bottom-info .delivery .active:hover {
  background-color: rgba(0, 204, 188, 0.9);
}

#appSearch .restaurants-box .restaurant-card a .bottom-info .address-icon a {
  text-decoration: none;
  color: black;
}

#appSearch .food-type img {
  padding: 4px;
}

main.details {
  background-color: whitesmoke;
}

main.details .details-jumbotron {
  width: 100%;
  height: 220px;
  background-color: #ffc244;
  padding: 20px 10% 0px;
}

main.details .details-jumbotron .jumbo-img {
  height: 100%;
  max-width: 1840px;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
  bottom: -80px;
  background-image: url("/storage/restaurant-img/restaurant1.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

main.details .details-jumbotron .jumbo-img h2 {
  text-transform: capitalize;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 8px;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

main.details .details-jumbotron .jumbo-img .info-badge {
  flex-basis: 23px;
  height: 23px;
  padding-top: 3px;
  margin: 10px 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.45);
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  font-size: 13px;
  font-weight: bold;
  color: whitesmoke;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  position: relative;
  bottom: 12px;
}

main.details .details-jumbotron .jumbo-img .info-badge i {
  vertical-align: middle;
  color: white;
}

main.details .restaurant-info {
  position: relative;
  width: 100%;
  margin: auto;
  bottom: 40px;
  background-color: whitesmoke;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 31px, rgba(0, 0, 0, 0.12) 0px -12px 15px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 8px 9px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
}

main.details .restaurant-info #info-box {
  display: none;
}

main.details .restaurant-info #info-box h3:first-child {
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  padding: 5px;
  width: 100%;
}

main.details .restaurant-info p {
  margin: 0;
}

main.details .restaurant-info #info-box {
  display: block;
}

main.details .dishes-box {
  min-height: 500px;
  margin: 120px 10%;
  max-width: 1840px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

main.details .dishes-box h3 {
  font-weight: normal;
  margin-bottom: 20px;
  flex-basis: 100%;
}

main.details .dishes-box ul:not(.overview ul) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 * 2);
  margin: 0 -10px;
}

main.details .dishes-box ul:not(.overview ul) li:not(.overview li) {
  flex-basis: calc(100% / 2 - 20px);
  min-width: 320px;
  height: 150px;
  margin: 0 10px 20px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

main.details .dishes-box ul:not(.overview ul) li:not(.overview li) .left-side {
  flex-basis: 50%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

main.details .dishes-box ul:not(.overview ul) li:not(.overview li) .left-side .product-name {
  text-transform: capitalize;
  word-wrap: break-word;
}

main.details .dishes-box ul:not(.overview ul) li:not(.overview li) .left-side .add span {
  font-family: "Raleway", sans-serif;
}

main.details .dishes-box ul:not(.overview ul) li:not(.overview li) .right-side {
  flex-basis: 50%;
  overflow: hidden;
  position: relative;
}

main.details .dishes-box ul:not(.overview ul) li:not(.overview li) .right-side img {
  min-width: 150px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main.details .dishes-box ul:not(.overview ul) li:not(.overview li) .right-side .product-info-badge {
  text-align: center;
  width: 23px;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 23px;
  padding-top: 3px;
  margin: 10px 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.45);
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  font-size: 13px;
  font-weight: bold;
  color: whitesmoke;
  text-transform: capitalize;
  cursor: pointer;
}

main.details .dishes-box ul:not(.overview ul) li:not(.overview li):hover {
  box-shadow: 0px 22px 24px 0px rgba(0, 0, 0, 0.04);
}

main.details .dishes-box .green-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(0, 172, 0, 0.178);
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  transition: background-color 0.3s, transform 0.3s;
}

main.details .dishes-box .green-btn i {
  color: rgba(0, 180, 60, 0.76);
  font-size: 20px;
  vertical-align: middle;
  transition: color 0.3s;
}

main.details .dishes-box .green-btn:hover {
  transform: scale(1.2);
  background-color: rgba(0, 172, 0, 0.521);
}

main.details .dishes-box .green-btn:hover i {
  color: white;
}

main.details .dishes-box .red-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(172, 0, 9, 0.178);
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  transition: background-color 0.3s, transform 0.3s;
}

main.details .dishes-box .red-btn i {
  color: rgba(180, 0, 60, 0.76);
  font-size: 20px;
  vertical-align: middle;
  transition: color 0.3s;
}

main.details .dishes-box .red-btn:hover {
  transform: scale(1.2);
  background-color: #58001d;
}

main.details .dishes-box .red-btn:hover i {
  color: white;
}

main.details .dishes-box .overview {
  width: calc(100% / 3);
  min-width: 260px;
  position: sticky;
  top: 100px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

main.details .dishes-box .overview .checkout-title {
  padding: 15px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-weight: normal;
}

main.details .dishes-box .overview .temp-cart {
  text-align: center;
  padding: 20px 0;
}

main.details .dishes-box .overview .temp-cart .cartlist {
  display: flex;
  font-size: 18px;
  padding: 0 15px 20px;
  background-color: white;
}

main.details .dishes-box .overview .temp-cart .cartlist #name-product {
  display: flex;
  flex-basis: 40%;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  padding-right: 10px;
  word-wrap: break-word;
  flex-shrink: 1;
  font-family: "Raleway", sans-serif;
}

main.details .dishes-box .overview .temp-cart .cartlist #modification {
  display: flex;
  flex-basis: 60%;
  min-width: 120px;
  justify-content: space-between;
  font-size: 14px;
}

main.details .dishes-box .overview .temp-cart .cartlist #modification .plus-minus {
  min-width: 50px;
}

main.details .dishes-box .overview .temp-cart .cartlist #modification .plus-minus p {
  padding-left: 5px;
}

main.details .dishes-box .overview .temp-cart .cartlist .fas {
  margin-left: 5px;
  font-size: 18px;
  cursor: pointer;
  vertical-align: middle;
}

main.details .dishes-box .overview .temp-cart .totalprice {
  border-top: 1px solid lightgrey;
  padding: 15px 0;
  font-family: "Fredoka One", cursive;
  font-weight: normal;
  font-size: 18px;
}

main.details .dishes-box .overview .temp-cart .payment {
  padding: 0 15px 0;
}

main.details .dishes-box .overview .temp-cart .payment button {
  width: 100%;
  font-size: 20px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #ffc244;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 0 15px;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
}

main.details .dishes-box .overview .temp-cart .payment button:hover {
  background-color: #ffd47f;
  color: #cfcfcf;
}

main.user.details .dishes-box {
  margin-bottom: 40px;
}

main.user.details .dishes-box ul:not(.overview ul) {
  flex-basis: 100%;
  justify-content: flex-start;
}

main.user.details .dishes-box ul:not(.overview ul) li:not(.overview li) {
  flex-basis: calc(100% / 3 - 20px);
  cursor: default;
}

main.user.details .dishes-box ul:not(.overview ul) .info-badge i {
  position: absolute;
  top: 10px;
  right: 10px;
}

main.user.details .dishes-box li#new-product.new-product {
  display: flex;
  justify-content: center;
}

main.user.details .dishes-box li#new-product.new-product .add-new {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  border-radius: 50%;
  width: 150px;
  padding: 10px;
}

main.user.details .dishes-box li#new-product.new-product .add-new:hover {
  cursor: pointer;
  background-color: #acabab;
}

main.user.details .dishes-box li#new-product.new-product .add-new i {
  align-self: center;
  font-size: 35px;
}

main.user.details #appChart {
  text-align: left;
  max-width: 1840px;
  width: 80%;
  margin: 0 10% 100px;
  font-family: "Raleway", sans-serif;
}

main.user.details #appChart h3 {
  font-weight: normal;
  margin-bottom: 20px;
}

main.user.details #appChart label {
  font-size: 18px;
}

main.user.details #appChart #yearOrder {
  font-family: "Raleway", sans-serif;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  margin-right: 20px;
}

main.user.details #appChart input[type=radio] {
  margin-right: 10px;
}

main.user.details #appChart #myChart {
  max-height: 500px;
  padding: 0 50px;
}

main.user.details h3 {
  font-weight: normal;
  margin: 0 10% 20px;
}

main.user.details .orders-tab {
  margin: 0 10% 50px;
  width: 80%;
  height: 500px;
  overflow: auto;
}

main.user.details .orders-tab table {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 5px;
  border-spacing: 0;
}

main.user.details .orders-tab table tr {
  border-spacing: 0;
}

main.user.details .orders-tab table tr th {
  background-color: #ffc14457;
  padding: 20px 10px;
}

main.user.details .orders-tab table tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.048);
  text-align: center;
  padding: 10px;
}

main.user.details .orders-tab table tr td li {
  text-transform: capitalize;
}

main.user.details .orders-tab table tr:last-child td {
  border-bottom-width: 0px;
}

main.user.details .orders-tab::-webkit-scrollbar {
  width: 6px;
}

main.user.details .orders-tab::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

main.user.details .orders-tab::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

header nav .center-section {
  flex-basis: 300px;
  text-align: center;
  position: relative;
}

header nav .center-section .search-bar {
  box-shadow: 0 2px 17px 0 #e19f17;
  width: 80%;
  height: 40px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 10px 5px 25px;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  transition: width 0.5s;
}

header nav .center-section .search-bar:not(:-moz-placeholder-shown) {
  width: 100%;
}

header nav .center-section .search-bar:not(:-ms-input-placeholder) {
  width: 100%;
}

header nav .center-section .search-bar:not(:placeholder-shown) {
  width: 100%;
}

header nav .center-section .search-bar:not(:-moz-placeholder-shown) + i {
  left: 3%;
}

header nav .center-section .search-bar:not(:-ms-input-placeholder) + i {
  left: 3%;
}

header nav .center-section .search-bar:not(:placeholder-shown) + i {
  left: 3%;
}

header nav .center-section .search-bar::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adadad;
  opacity: 1;
  /* Firefox */
}

header nav .center-section .search-bar:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adadad;
  opacity: 1;
  /* Firefox */
}

header nav .center-section .search-bar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adadad;
  opacity: 1;
  /* Firefox */
}

header nav .center-section .search-bar:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #adadad;
}

header nav .center-section .search-bar::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #adadad;
}

header nav .center-section i {
  color: #d4d4d4;
  position: absolute;
  z-index: 100;
  font-size: 15px;
  left: 37%;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.5s;
  cursor: pointer;
}

header nav .rx-section {
  flex-basis: 250px;
  text-align: right;
  position: relative;
}

header nav .rx-section i {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

header nav .rx-section .user-popup {
  text-align: left;
  padding: 10px 15px;
  position: absolute;
  top: 115%;
  right: 0px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 17px 0 #e19f17;
  visibility: hidden;
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: width 0.5s, height 0.5s, opacity 0.5s, visibility 0.5s;
}

header nav .rx-section .user-popup.active {
  visibility: visible;
  width: 100px;
  height: 65px;
  opacity: 1;
}

header nav .rx-section .user-popup li {
  margin-bottom: 8px;
}

header nav .rx-section .user-popup li:last-of-type {
  margin-bottom: 0;
}

header nav .rx-section .user-popup li a {
  font-size: 15px;
  font-weight: 600;
  color: white;
  font-family: "Raleway", sans-serif;
  transition: color 1s;
}

header nav .rx-section .user-popup li a.active {
  color: black;
}

#restaurant-container {
  background-color: #00CCBC;
  padding-top: 70px;
}

#restaurant-container #welcome-back {
  width: 100%;
  background-color: #8fddd7;
  height: 40px;
  font-size: 1.4rem;
  padding-left: 2%;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

#restaurant-container #create-row {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#restaurant-container #create-row #left-create {
  display: flex;
  justify-content: flex-start;
}

#restaurant-container #create-row #right-create {
  display: flex;
  justify-content: flex-end;
}

#restaurant-container #create-row #right-create .fa,
#restaurant-container #create-row #right-create .fas {
  font-size: 20px;
  padding-left: 10px;
  vertical-align: middle;
}

#restaurant-container #create-row #right-create #create-button {
  padding: 10px;
  text-decoration: none;
  color: #202020;
  background-color: #FAD10A;
  text-align: center;
  border-radius: 20px;
}

#restaurant-container #restaurant-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

#restaurant-container #restaurant-cards .crd {
  width: 22%;
  margin: 0px 14px 30px 14px;
  height: 480px;
  border-radius: 20px;
  background-color: white;
  position: relative;
}

#restaurant-container #restaurant-cards .crd.hidden-crd {
  opacity: 0.6;
}

#restaurant-container #restaurant-cards ul li {
  display: flex;
}

#restaurant-container #restaurant-cards ul li span {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #202020;
}

#restaurant-container #restaurant-cards ul li span,
#restaurant-container #restaurant-cards ul li p,
#restaurant-container #restaurant-cards ul li a {
  padding: 0 7%;
}

#restaurant-container #restaurant-cards ul li img {
  height: 280px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#restaurant-container #restaurant-cards ul .fa,
#restaurant-container #restaurant-cards ul .fas {
  font-size: 22px;
  padding-left: 7%;
}

#restaurant-container #restaurant-cards .btn-edit-del {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 22px;
  padding: 10px;
}

#restaurant-container #restaurant-cards #delete-button {
  margin-left: 10px;
  color: #e45757;
}

#restaurant-container #delete-button {
  margin-left: 10px;
  color: #e45757;
}

#restaurant-container #restaurant-address {
  margin-top: 20px;
}

.side-padding {
  padding: 0 6%;
}

main.create-restaurant div.container {
  width: 1200px;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 15px;
}

main.create-restaurant div.container div.separation-content {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}

main.create-restaurant div.container div.separation-content form ul li {
  padding: 10px 0;
}

main.create-restaurant div.container div.separation-content form ul li label {
  font-family: "Fredoka One", cursive;
  font-size: 18px;
}

main.create-restaurant div.container div.separation-content form ul li .text {
  font-size: 15px;
  width: 50%;
  margin-top: 5px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}

main.create-restaurant div.container div.separation-content form ul li textarea {
  font-family: fantasy;
}

main.create-restaurant div.container div.separation-content form ul li .container-categories {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

main.create-restaurant div.container div.separation-content form ul li .container-categories .category {
  background-color: white;
  width: 162px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  position: relative;
}

main.create-restaurant div.container div.separation-content form ul li .container-categories .category .circle {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  left: 3px;
  position: absolute;
  top: 8px;
  width: 16px;
}

main.create-restaurant div.container div.separation-content form ul li .container-categories .category .circle:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  width: 8px;
}

main.create-restaurant div.container div.separation-content form ul li .container-categories .category input[type=checkbox] {
  visibility: hidden;
}

main.create-restaurant div.container div.separation-content form ul li .container-categories .category input[type=checkbox]:checked + .circle {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

main.create-restaurant div.container div.separation-content form ul li .container-categories .category input[type=checkbox]:checked + .circle:after {
  opacity: 1;
}

main.create-restaurant div.container .submit {
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid grey;
  padding: 15px 0;
}

main.create-restaurant div.container .submit .button-back {
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: red;
  font-family: inherit;
  color: white;
  text-decoration: none;
}

main.create-restaurant div.container .submit .button-back:hover {
  background-color: green;
  border: 2px solid green;
  color: white;
}

main.create-restaurant div.container .submit .button-create {
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: red;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

main.create-restaurant div.container .submit .button-create:hover {
  background-color: green;
  border: 2px solid green;
  color: white;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #000000b0;
  transition: opacity 0.7s ease;
}

.preloader-hide {
  opacity: 0;
  pointer-events: none;
}

#preloaders {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#site-logo {
  width: 300px;
  height: 300px;
}

.modal .modal-content #info-box,
.modal .modal-content .info-box {
  width: 60%;
  margin: auto;
}

.modal .modal-content #info-box h4,
.modal .modal-content .info-box h4 {
  text-align: center;
  font-size: 1.5rem;
}

.modal .modal-content #info-box p,
.modal .modal-content .info-box p {
  margin-top: 10px;
  position: relative;
}

.modal .modal-content #info-box p label,
.modal .modal-content .info-box p label {
  margin-right: 10px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  font-family: "Segoe UI";
}

.modal .modal-content #info-box p input,
.modal .modal-content #info-box p textarea,
.modal .modal-content .info-box p input,
.modal .modal-content .info-box p textarea {
  width: 100%;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  padding: 5px 5px 5px 12px;
  margin-top: 4px;
  font-size: 16px;
  font-family: "Segoe UI";
}

.modal .modal-content #info-box .category-box,
.modal .modal-content .info-box .category-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}

.modal .modal-content #info-box .category-box .edit-prod,
.modal .modal-content .info-box .category-box .edit-prod {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: 1px solid lightgrey;
}

.modal.active {
  display: block;
}

#myModal #info-box {
  width: 50%;
  margin: auto;
  text-align: left;
}

#myModal #info-box p {
  padding: 5px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-content {
  position: relative;
  z-index: 80;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.product-details .modal-content {
  width: 50%;
  position: relative;
  right: 200px;
  top: 25px;
}

footer {
  width: 100%;
  background-color: black;
  padding: 50px 30px 30px;
  overflow: hidden;
}

footer .border-footer-divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid white;
  margin: 30px 0;
}

footer a {
  font-family: "Raleway", sans-serif;
}

footer .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .top .logo {
  flex-basis: 50%;
}

footer .top .logo h3 {
  color: white;
  margin: 0 0 25px;
  font-size: 2em;
  font-weight: normal;
  flex-basis: 50%;
}

footer .top .logo h3 span {
  color: #ffc244;
}

footer .top .logo img {
  width: 200px;
  margin: 0 10px 10px 0;
}

footer .top .info {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.15em;
}

footer .top .info ul {
  padding-left: 30px;
}

footer .top .info ul li {
  margin-bottom: 10px;
}

footer .top .info ul li a {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

footer .top .info ul li a:hover {
  text-decoration: underline;
}

footer .bottom {
  display: flex;
  justify-content: space-between;
}

footer .bottom .icons a {
  margin: 0 20px 20px 0;
  display: inline-block;
}

footer .bottom .icons a i {
  font-size: 1.35rem;
  color: white;
  vertical-align: middle;
}

footer .bottom .privacy {
  padding-left: 30px;
  text-align: right;
}

footer .bottom .privacy div a {
  display: inline-block;
  margin: 0 0 20px 20px;
  color: white;
  font-size: 16px;
  font-weight: normal;
}

footer .bottom .privacy div a:hover {
  text-decoration: underline;
}

footer .bottom .privacy .copyright {
  font-weight: normal;
  font-size: 16px;
  color: #ffc244;
}

header {
  height: 100px;
  padding: 10px 30px;
  width: 100%;
  z-index: 900;
  background: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  transition: height 0.5s, background-color 0.5s, border-bottom 0.2s;
}

header.scrolled {
  height: 75px;
  background-color: #ffc244;
  box-shadow: 0 0 10px 0 #5e5e5e;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav div.sx-section {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

header nav div.sx-section img {
  vertical-align: middle;
  width: 200px;
}

header nav div.sx-section .ham-container {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  overflow: visible;
  margin-right: 20px;
}

header nav div.sx-section .ham-container .hamburger {
  position: relative;
  z-index: 950;
  line-height: 30px;
  height: 4px;
  width: 30px;
  background-color: white;
  border: 0;
  transition: background-color 0.5s;
}

header nav div.sx-section .ham-container .hamburger::before,
header nav div.sx-section .ham-container .hamburger::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: white;
  border: 0;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

header nav div.sx-section .ham-container .hamburger::before {
  top: -9px;
}

header nav div.sx-section .ham-container .hamburger::after {
  bottom: -9px;
}

header nav div.sx-section .ham-container.active .hamburger {
  background-color: transparent;
}

header nav div.sx-section .ham-container.active .hamburger::before,
header nav div.sx-section .ham-container.active .hamburger::after {
  width: 30px;
  background-color: white;
  left: 50%;
}

header nav div.sx-section .ham-container.active .hamburger::before {
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

header nav div.sx-section .ham-container.active .hamburger::after {
  bottom: 50%;
  transform: translate(-50%, 50%) rotateZ(-45deg);
}

header nav .menulist {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 910;
  font-weight: normal;
  text-align: center;
  padding-top: 50px;
  margin-right: 0px;
  margin-right: 10px;
  -webkit-animation-name: bg-landing-rgb;
          animation-name: bg-landing-rgb;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  transition: left 0.5s, visibility 0.5s, opacity 0.5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header nav .menulist.active {
  left: 0%;
  visibility: visible;
  opacity: 1;
}

header nav .menulist li {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

header nav .menulist li:first-child a {
  background-color: #ffaf53;
  padding: 10px 50px;
  border-radius: 3px;
}

header nav .menulist li a {
  text-decoration: none;
  color: #000000;
}

* {
  outline: none;
}

#landing-jumbo #background-jumbo {
  background-image: url(/images/background-landing.png?b13fd6cc8729ea0cbf60ce8b03cbe494);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 115vh;
  width: 100%;
  margin-top: -100px;
  padding: 0 3%;
  -webkit-animation-name: bg-landing-rgb;
          animation-name: bg-landing-rgb;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landing-jumbo #background-jumbo .type {
  z-index: 1;
}

#landing-jumbo #background-jumbo .type img {
  -webkit-animation: float-up 5s ease-in-out infinite;
          animation: float-up 5s ease-in-out infinite;
  width: 120px;
  height: auto;
}

#landing-jumbo #background-jumbo #pizzeria {
  position: absolute;
  top: 80px;
  left: 500px;
}

#landing-jumbo #background-jumbo #fastfood {
  position: absolute;
  top: 120px;
  left: 230px;
}

#landing-jumbo #background-jumbo #sushi {
  position: absolute;
  right: 150px;
}

#landing-jumbo #background-jumbo #sushi img {
  width: 140px;
}

#landing-jumbo #background-jumbo #messicano {
  position: absolute;
  left: 100px;
}

#landing-jumbo #background-jumbo #messicano img {
  -webkit-animation: float-down 5s ease-in-out infinite;
          animation: float-down 5s ease-in-out infinite;
}

#landing-jumbo #background-jumbo #cinese {
  position: absolute;
  bottom: 40px;
  left: 500px;
}

#landing-jumbo #background-jumbo #cinese img {
  -webkit-animation: float-down 5s ease-in-out infinite;
          animation: float-down 5s ease-in-out infinite;
}

#landing-jumbo #background-jumbo #carne {
  position: absolute;
  bottom: 50px;
  left: 90px;
}

#landing-jumbo #background-jumbo #carne img {
  width: 140px;
}

#landing-jumbo #background-jumbo #pesce {
  position: absolute;
  top: 80px;
  right: 250px;
}

#landing-jumbo #background-jumbo #pasticceria {
  position: absolute;
  bottom: 40px;
  right: 500px;
}

#landing-jumbo #background-jumbo #vegan {
  position: absolute;
  right: 160px;
  bottom: 60px;
}

#landing-jumbo #background-jumbo #vegan img {
  -webkit-animation: float-down 5s ease-in-out infinite;
          animation: float-down 5s ease-in-out infinite;
  width: 100px;
}

#landing-jumbo #background-jumbo #poke {
  position: absolute;
  top: 80px;
  right: 500px;
}

#landing-jumbo #background-jumbo #poke img {
  -webkit-animation: float-down 5s ease-in-out infinite;
          animation: float-down 5s ease-in-out infinite;
}

#landing-jumbo #landing-title {
  color: #000000;
  font-weight: bold;
  z-index: 10;
  position: absolute;
}

#landing-jumbo #landing-title h1 {
  font-size: 6rem;
  font-weight: bolder;
}

#landing-jumbo #landing-title h2 {
  margin: 15px 0 60px 0;
}

#landing-jumbo div.landing-buttons {
  display: inline;
  text-decoration: none;
  letter-spacing: 3px;
  width: 30%;
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

#landing-jumbo div.landing-buttons:hover {
  text-decoration: none;
}

#landing-jumbo div.landing-buttons #white-button {
  border: 4px solid #000000;
  padding: 15px 35px;
  background-color: #ffffff;
  margin-right: 10px;
  color: #000000;
  text-decoration: none;
}

#landing-jumbo div.landing-buttons #white-button:hover {
  background-color: #000000;
  color: #ffffff;
}

#landing-jumbo div.landing-buttons #dotted-button {
  border: 4px dashed rgba(73, 73, 73, 0.26);
  padding: 15px 35px;
  margin-left: 10px;
  color: #000000;
  text-decoration: none;
  cursor: context-menu;
}

.popup-note .pop {
  display: none;
  position: absolute;
  border-radius: 30px;
  border: 4px solid black;
  font-size: 1.6rem;
  color: black;
  background: white;
  padding: 15px 35px;
  text-align: center;
  z-index: 20;
}

.popup-note:hover .pop {
  display: block;
  transform: scale(1.2);
  z-index: 20;
}

.popup-note:hover .up {
  bottom: 100px;
}

.popup-note:hover .right {
  left: 140px;
  bottom: 40px;
}

#lottie-player {
  width: 100%;
  height: 115vh;
}

.scale:hover {
  transform: scale(0.9);
  transition: ease-in-out 0.3s;
}

main#bye-container {
  background-color: #FFC244;
  min-height: 100vh;
}

main#bye-container #container-result {
  display: flex;
  justify-content: center;
}

main#bye-container #container-result * {
  font-family: "Segoe UI";
}

main#bye-container #container-result #container-text {
  margin-top: 50px;
  width: 450px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
}

main#bye-container #container-result #container-text h2 {
  text-align: center;
}

main#bye-container #container-result #container-text lottie-player {
  margin: auto;
}

main#bye-container #container-result h2 {
  text-align: center;
  padding-top: 25px;
}

main#bye-container #container-result #scooter {
  position: absolute;
  -webkit-animation: run 6s;
          animation: run 6s;
}

@-webkit-keyframes run {
  from {
    left: 0px;
  }

  to {
    left: 100%;
  }
}

#login_area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC244;
}

#login_area #box_login {
  width: 50%;
  height: 80%;
  display: flex;
}

#login_area #box_login .left {
  height: 100%;
  width: 40%;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#login_area #box_login .right {
  background-color: #fff;
  height: 100%;
  width: 60%;
  padding: 6%;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login_area #box_login .right h2 {
  margin-bottom: 60px;
  font-size: 2.2rem;
  font-weight: 400;
}

#login_area #box_login .right form button {
  -webkit-appearance: none;
  font-family: "Fredoka One", cursive;
  width: auto;
  min-width: 100px;
  border-radius: 4px;
  text-align: center;
  padding: 15px 100px;
  margin-top: 30px;
  background-color: #000;
  color: #fff;
  letter-spacing: 4px;
  font-size: 15px;
  margin-left: auto;
  font-weight: 500;
  box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
  cursor: pointer;
}

#login_area #box_login .right form button:hover {
  border: 4px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

#login_area #box_login .right form button:hover:active {
  transform: scale(0.99);
}

#login_area #box_login .right form .floating-label {
  position: relative;
  margin-bottom: 10px;
}

#login_area #box_login .right form .floating-label input {
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  border: none;
  border-bottom: solid 3px rgba(0, 0, 0, 0.1);
  background: #fff;
  min-width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  color: #000;
  font-weight: 400;
  -webkit-appearance: none;
}

#login_area #box_login .right form .floating-label input:focus {
  border-bottom: solid 3px #FFC244;
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(255, 194, 68, 0.45);
}

#login_area #box_login .right form .floating-label label {
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  font-family: "Fredoka One", cursive;
}

#login_area #box_login .right form .floating-label input:not(:-moz-placeholder-shown) {
  padding: 28px 0px 12px 0px;
}

#login_area #box_login .right form .floating-label input:not(:-ms-input-placeholder) {
  padding: 28px 0px 12px 0px;
}

#login_area #box_login .right form .floating-label input:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}

#login_area #box_login .right form .floating-label input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-15px);
  opacity: 0.7;
}

#login_area #box_login .right form .floating-label input:not(:-ms-input-placeholder) + label {
  transform: translateY(-15px);
  opacity: 0.7;
}

#login_area #box_login .right form .floating-label input:not(:placeholder-shown) + label {
  transform: translateY(-15px);
  opacity: 0.7;
}

main.pay-order form {
  display: flex;
  min-height: 100vh;
}

main.pay-order form #box-left {
  background-color: #fbfbfb;
  min-height: 100vh;
  width: 50%;
}

main.pay-order form #box-left .container {
  width: 50%;
  margin: 10% 0 0 25%;
  font-family: "Segoe UI";
}

main.pay-order form #box-left h2 {
  font-family: "Segoe UI";
  font-size: 40px;
  color: #303030;
}

main.pay-order form #box-left h3 {
  font-family: "Segoe UI";
  font-size: 28px;
  color: #727272;
}

main.pay-order form #box-left img {
  width: 300px;
  margin: 42% 0;
  border-radius: 10px;
}

main.pay-order form #box-left h4 {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 20px;
  color: #acacac;
  text-align: center;
}

main.pay-order form #box-left h4 strong {
  font-size: 22px;
  color: #acacac;
}

main.pay-order form #box_pay {
  background-color: white;
  min-height: 100vh;
  width: 50%;
  box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.2);
}

main.pay-order form #box_pay .box-form {
  width: 50%;
  margin: 10% 0 0 10%;
}

main.pay-order form #box_pay .box-form h2 {
  font-family: "Segoe UI";
}

main.pay-order form #box_pay .box-form ul li {
  margin-top: 10px;
  position: relative;
}

main.pay-order form #box_pay .box-form ul li label {
  display: block;
  font-size: 16px;
  font-family: "Segoe UI";
}

main.pay-order form #box_pay .box-form ul li input {
  width: 100%;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  padding: 5px 5px 5px 12px;
  margin-top: 4px;
  font-size: 16px;
  font-family: "Segoe UI";
}

main.pay-order form #box_pay .box-form ul li .box-date-format {
  display: flex;
  justify-content: space-between;
}

main.pay-order form #box_pay .box-form ul li .box-date-format .box-date {
  display: flex;
  justify-content: space-between;
  border: 1px solid #EFEFEF;
  box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2);
  width: 50%;
  border-radius: 5px 5px 5px 5px;
}

main.pay-order form #box_pay .box-form ul li .box-date-format .box-date .date {
  width: 100%;
  margin-top: 0px;
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
}

main.pay-order form #box_pay .box-form ul li .box-date-format .box-date .date-icon {
  background-color: white;
  border-radius: 0 5px 5px 0;
  line-height: 31px;
  margin-right: 5px;
}

main.pay-order form #box_pay .box-form ul li .box-date-format .box-date .time {
  width: 100%;
  margin-top: 0px;
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
}

main.pay-order form #box_pay .box-form ul li .box-date-format .box-date .time-icon {
  background-color: white;
  border-radius: 0 5px 5px 0;
  line-height: 31px;
  margin-right: 5px;
}

main.pay-order form #box_pay .box-form button {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 5px 5px 12px;
  margin-top: 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: #5186CA;
  border-color: #5186CA;
  color: white;
  font-family: "Segoe UI";
}

main.pay-order form #box_pay .box-form button:hover {
  background-color: #3b79c8;
  border-color: #3b79c8;
}

main.pay-order form #box_pay .box-form .braintree-sheet {
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2);
}

main.pay-order form #box_pay .box-form .braintree-sheet .braintree-form__hosted-field {
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2);
  padding: 5px 5px 5px 12px;
  height: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
a,
span {
  font-family: "Fredoka One", cursive;
}

p {
  font-family: "Raleway", sans-serif;
}

.container-sticky-footer {
  flex-grow: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
}

[v-cloak] {
  display: none;
}

