@import url(https://fonts.googleapis.com/css?family=Nunito);@-webkit-keyframes shrinkbg {
  0% {
    background-size: 110%;
  }

  100% {
    background-size: 100%;
  }
}

@keyframes shrinkbg {
  0% {
    background-size: 110%;
  }

  100% {
    background-size: 100%;
  }
}

@-webkit-keyframes zoombg {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 130%;
  }
}

@keyframes zoombg {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 130%;
  }
}

@-webkit-keyframes bg-landing-rgb {
  0% {
    background: #ee6055;
  }

  20% {
    background: #b993fa;
  }

  40% {
    background: #aaf683;
  }

  60% {
    background: #7ae0ff;
  }

  80% {
    background: #ffd97d;
  }

  100% {
    background: #fc927b;
  }
}

@keyframes bg-landing-rgb {
  0% {
    background: #ee6055;
  }

  20% {
    background: #b993fa;
  }

  40% {
    background: #aaf683;
  }

  60% {
    background: #7ae0ff;
  }

  80% {
    background: #ffd97d;
  }

  100% {
    background: #fc927b;
  }
}

@-webkit-keyframes float-down {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(30px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float-down {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(30px);
  }

  100% {
    transform: translatey(0px);
  }
}

@-webkit-keyframes float-up {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-30px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float-up {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-30px);
  }

  100% {
    transform: translatey(0px);
  }
}

@-webkit-keyframes up-bump {
  0% {
    padding-top: 2em;
  }

  50% {
    padding-top: 1.5em;
  }

  100% {
    padding-top: 2em;
  }
}

@keyframes up-bump {
  0% {
    padding-top: 2em;
  }

  50% {
    padding-top: 1.5em;
  }

  100% {
    padding-top: 2em;
  }
}

@-webkit-keyframes down-bump {
  0% {
    padding-top: 2em;
  }

  50% {
    padding-top: 2.5em;
  }

  100% {
    padding-top: 2em;
  }
}

@keyframes down-bump {
  0% {
    padding-top: 2em;
  }

  50% {
    padding-top: 2.5em;
  }

  100% {
    padding-top: 2em;
  }
}

/* text typing*/

@-webkit-keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 570px;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 570px;
  }
}

/* cursor animations */

@-webkit-keyframes animated-cursor {
  from {
    border-right-color: #fad20a;
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: #fad20a;
  }

  to {
    border-right-color: transparent;
  }
}

header {
  height: 75px;
  width: 100%;
  z-index: 900;
  background: transparent;
  position: fixed;
  transition: height 0.5s, background-color 0.5s, border-bottom 0.2s;
}

header.scrolled {
  height: 100px;
  background-color: #00ccbc;
  box-shadow: 0 0 10px 0 #5e5e5e;
}

header nav {
  padding: 10px 40px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

header nav img {
  vertical-align: middle;
  width: 200px;
}

header nav .ham-container {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  overflow: visible;
  margin-right: 30px;
}

header nav .ham-container .hamburger {
  position: relative;
  z-index: 950;
  line-height: 30px;
  height: 4px;
  width: 30px;
  background-color: white;
  border: 0;
  transition: background-color 0.5s;
}

header nav .ham-container .hamburger::before,
header nav .ham-container .hamburger::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: white;
  border: 0;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

header nav .ham-container .hamburger::before {
  top: -9px;
}

header nav .ham-container .hamburger::after {
  bottom: -9px;
}

header nav .ham-container.active .hamburger {
  background-color: transparent;
}

header nav .ham-container.active .hamburger::before,
header nav .ham-container.active .hamburger::after {
  width: 30px;
  background-color: white;
  left: 50%;
}

header nav .ham-container.active .hamburger::before {
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

header nav .ham-container.active .hamburger::after {
  bottom: 50%;
  transform: translate(-50%, 50%) rotateZ(-45deg);
}

header .menulist {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 910;
  text-align: center;
  padding-top: 50px;
  margin-right: 0px;
  margin-right: 10px;
  background-color: #00ccbc;
  transition: left 0.5s, visibility 0.5s, opacity 0.5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .menulist.active {
  left: 0%;
  visibility: visible;
  opacity: 1;
}

header .menulist li {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

header .menulist li:first-child a {
  background-color: #ffaf53;
  padding: 10px 50px;
  border-radius: 3px;
}

header .menulist li a {
  text-decoration: none;
  color: #000000;
}

header {
  height: 75px;
  width: 100%;
  z-index: 900;
  background: transparent;
  position: fixed;
  transition: height 0.5s, background-color 0.5s, border-bottom 0.2s;
}

header.scrolled {
  height: 100px;
  background-color: #00ccbc;
  box-shadow: 0 0 10px 0 #5e5e5e;
}

header nav {
  padding: 10px 40px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

header nav img {
  vertical-align: middle;
  width: 200px;
}

header nav .ham-container {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  overflow: visible;
  margin-right: 30px;
}

header nav .ham-container .hamburger {
  position: relative;
  z-index: 950;
  line-height: 30px;
  height: 4px;
  width: 30px;
  background-color: white;
  border: 0;
  transition: background-color 0.5s;
}

header nav .ham-container .hamburger::before,
header nav .ham-container .hamburger::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: white;
  border: 0;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

header nav .ham-container .hamburger::before {
  top: -9px;
}

header nav .ham-container .hamburger::after {
  bottom: -9px;
}

header nav .ham-container.active .hamburger {
  background-color: transparent;
}

header nav .ham-container.active .hamburger::before,
header nav .ham-container.active .hamburger::after {
  width: 30px;
  background-color: white;
  left: 50%;
}

header nav .ham-container.active .hamburger::before {
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

header nav .ham-container.active .hamburger::after {
  bottom: 50%;
  transform: translate(-50%, 50%) rotateZ(-45deg);
}

header .menulist {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 910;
  text-align: center;
  padding-top: 50px;
  margin-right: 0px;
  margin-right: 10px;
  background-color: #00ccbc;
  transition: left 0.5s, visibility 0.5s, opacity 0.5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .menulist.active {
  left: 0%;
  visibility: visible;
  opacity: 1;
}

header .menulist li {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

header .menulist li:first-child a {
  background-color: #ffaf53;
  padding: 10px 50px;
  border-radius: 3px;
}

header .menulist li a {
  text-decoration: none;
  color: #000000;
}

footer {
  width: 100%;
  background-color: black;
  padding: 20px 12px 10px 12px;
}

footer div .border-footer-divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid white;
  padding: 3px 25px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: white;
  text-shadow: #00CCBC 1px 1px;
  text-decoration: none;
}

footer h3 {
  color: white;
  text-shadow: white 1px 1px;
  margin: 10px 20px 10px 25px;
  font-size: 2em;
}

footer h3 span {
  color: #00CCBC;
  text-shadow: #00CCBC 1px 1px;
}

footer img {
  width: 200px;
  height: auto;
}

footer .ms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .ms-container .top {
  width: 100%;
  display: flex;
  direction: row;
  justify-content: space-between;
}

footer .ms-container .top .logo {
  width: 50%;
}

footer .ms-container .top .info {
  width: 50%;
}

footer .ms-container .top .info .info-box {
  display: flex;
  justify-content: flex-end;
  font-size: 1.15em;
}

footer .ms-container .top .info .info-box div {
  padding: 25px 40px;
}

footer .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .bottom .icons i {
  font-size: 1.35rem;
  margin: 10px 20px 10px 25px;
  padding: 25px 3px;
}

footer .bottom .privacy {
  display: flex;
  flex-direction: column;
  padding: 25px 40px;
}

footer .bottom .privacy .top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .bottom .privacy .top a {
  font-size: 1.15em;
  margin: 5px;
}

footer .bottom .privacy .copyright {
  color: #00CCBC;
  align-self: flex-end;
}

.list-container {
  min-height: 550px;
}

div.list-jumbotron {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #00CCBC;
  padding: 50px 30px 30px 30px;
}

div.list-jumbotron h2 {
  text-align: center;
}

div.list-jumbotron ul {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 120px 100px;
  position: relative;
}

div.list-jumbotron ul li {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  margin: 5px;
  border-radius: 50%;
  background-color: whitesmoke;
  padding: 15px;
  box-shadow: 0 2px 17px 0 #1e988e;
  position: relative;
}

div.list-jumbotron ul li:active {
  top: 3px;
  transition: ease-in-out;
}

div.list-jumbotron ul li:hover {
  -webkit-animation: float-up 1.3s ease-in-out infinite;
          animation: float-up 1.3s ease-in-out infinite;
}

div.list-jumbotron ul li label {
  cursor: pointer;
  position: relative;
}

div.list-jumbotron ul li label input {
  position: absolute;
  opacity: 0;
}

div.list-jumbotron ul li label img {
  width: 80px;
  height: 80px;
}

.category-list {
  display: flex;
}

.titles-restaurant-list {
  width: 80%;
  margin: auto;
}

.titles-restaurant-list h2#title {
  text-align: center;
  font-size: 56px;
  font-weight: bold;
}

.titles-restaurant-list h4 {
  font-size: 32px;
  text-align: left;
  margin-left: 10px;
  margin: 40px 0 10px 0;
}

.restaurants-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.restaurants-box .restaurant-card {
  width: 30%;
  height: 230px;
  margin: 10px;
}

.restaurants-box .restaurant-card .top-info {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-grow: 1;
  width: 100%;
  height: 77%;
  z-index: 2;
  position: relative;
}

.restaurants-box .restaurant-card .top-info .background-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: url("/storage/assets/pizza-placeholder.jpg");
  background-size: 100%;
  background-position: center right;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: contrast(65%);
  z-index: 1;
}

.restaurants-box .restaurant-card .top-info:hover {
  cursor: pointer;
}

.restaurants-box .restaurant-card .top-info:hover .background-image {
  filter: contrast(90%);
  background-size: 103%;
  background-position: center center;
  transition: all 0.15s ease-in-out;
}

.restaurants-box .restaurant-card .top-info:hover > a {
  font-size: 42px;
  text-shadow: 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  transition: all 0.1s ease-in-out;
}

.restaurants-box .restaurant-card .top-info a {
  z-index: 2;
  text-decoration: none;
  font-size: 35px;
  color: whitesmoke;
  font-weight: 900;
}

.restaurants-box .restaurant-card .top-info .categories-card {
  z-index: 2;
  display: flex;
  flex-direction: row;
}

.restaurants-box .restaurant-card .top-info .categories-card .cell {
  margin: 3px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: 1px solid black;
  text-align: center;
  border-radius: 4px;
  padding: 0px 4px;
}

.restaurants-box .restaurant-card .top-info .categories-card .cell:hover {
  text-shadow: white 1px 1px;
  transition: all 0.3s ease-in-out;
}

.restaurants-box .restaurant-card .top-info .categories-card .cell a {
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.restaurants-box .restaurant-card .top-info .categories-card .type-generic {
  background-color: rgba(255, 255, 255, 0.65);
}

.restaurants-box .restaurant-card .top-info .categories-card .type-generic:hover {
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.restaurants-box .restaurant-card .bottom-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 5px 15px;
  background-color: white;
  width: 100%;
  height: 23%;
  overflow: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.restaurants-box .restaurant-card .bottom-info * {
  align-self: center;
}

.restaurants-box .restaurant-card .bottom-info .delivery {
  display: flex;
}

.restaurants-box .restaurant-card .bottom-info .delivery i:hover {
  text-shadow: 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  transition: all 0.1s ease-in-out;
}

.restaurants-box .restaurant-card .bottom-info .delivery .delivery-checkout {
  font-size: 12px;
  padding: 5px;
  margin-left: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  border-radius: 8px;
}

.restaurants-box .restaurant-card .bottom-info .delivery .active {
  background-color: rgba(0, 204, 188, 0.7);
}

.restaurants-box .restaurant-card .bottom-info .delivery .active:hover {
  background-color: rgba(0, 204, 188, 0.9);
}

.restaurants-box .restaurant-card .bottom-info .address-icon a {
  text-decoration: none;
  color: black;
}

.food-type img {
  padding: 4px;
}

main.details .details-jumbotron {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  background-image: url("/storage/restaurant-img/162400364131.jpeg");
  background-position: center;
}

main.details .restaurant-info {
  position: relative;
  width: 100%;
  margin: auto;
  bottom: 40px;
  background-color: whitesmoke;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 31px, rgba(0, 0, 0, 0.12) 0px -12px 15px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 8px 9px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  opacity: 0.87;
}

main.details .restaurant-info .info {
  display: flex;
  justify-content: center;
}

main.details .restaurant-info .info #myBtn {
  color: black;
}

main.details .restaurant-info .info .info-box {
  display: none;
}

main.details .restaurant-info .info h3 {
  cursor: pointer;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main.details .restaurant-info p {
  margin: 0;
}

main.details .restaurant-info #info-box {
  display: block;
}

main.details .restaurant-info .overview {
  width: 30%;
  position: fixed;
  right: 0;
  padding: 15px;
  margin-right: 10px;
  background-color: whitesmoke;
}

main.details .restaurant-info .overview .checkout-button {
  background-color: lightgrey;
  padding: 5px;
}

main.details .restaurant-info .overview .temp-cart {
  text-align: center;
  vertical-align: middle;
}

main.details .dishes-box {
  width: 60%;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
}

main.details .dishes-box ul {
  display: flex;
  flex-wrap: wrap;
}

main.details .dishes-box ul li .dish {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 7px;
  padding: 10px;
  border: 1px solid lightgrey;
}

main.details .dishes-box ul li .dish .left-side {
  padding: 8px;
}

main.details .dishes-box ul li .dish:hover {
  border: 1px solid black;
  box-shadow: 0px 22px 24px 0px rgba(0, 0, 0, 0.08);
}

main.details .dishes-box ul li .unavailable {
  cursor: auto;
  color: lightgrey;
  background-color: rgba(0, 0, 0, 0.3);
}

main.details .dishes-box ul li .unavailable:hover {
  border: 1px solid lightgrey;
  box-shadow: none;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-content {
  z-index: 10;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

header .tb {
  display: table;
  width: 100%;
}

header .td {
  display: table-cell;
  vertical-align: top;
  max-width: 600px;
}

header input,
header button {
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

header #cover {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 30px;
  color: black;
  border: 8px solid black;
  transform: scale(0.53);
  align-items: stretch;
}

header form {
  height: 96px;
}

header input[type=text] {
  width: 100%;
  height: 96px;
  font-size: 49px;
  line-height: 1;
  position: absolute;
  top: 7px;
  max-width: 570px;
  color: #000000;
}

header input[type=text]::-moz-placeholder {
  color: #000000;
}

header input[type=text]:-ms-input-placeholder {
  color: #000000;
}

header input[type=text]::placeholder {
  color: #000000;
}

header #s-cover {
  width: 1px;
  padding-left: 35px;
}

header button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

header #s-circle {
  position: relative;
  top: -7px;
  left: 6px;
  width: 65px;
  height: 62px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid black;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

header button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

header button span:before,
header button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #000000;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

header #s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #000000;
  border-radius: 20px;
}

header #s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

header #s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

header #s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}

header #s-cover:hover button span:before,
header #s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #000000;
}

header #ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #000000;
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff7575;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
}

header p {
  border-right: solid 3px rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-size: 49px;
  -webkit-animation: animated-text 1.6s linear 1s 1 normal both, animated-cursor 600ms linear infinite !important;
          animation: animated-text 1.6s linear 1s 1 normal both, animated-cursor 600ms linear infinite !important;
}

#restaurant-container {
  height: 100vh;
  background-color: #00CCBC;
  padding-top: 70px;
}

#restaurant-container #welcome-back {
  width: 100%;
  background-color: #8fddd7;
  height: 40px;
  font-size: 1.4rem;
  padding-left: 2%;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

#restaurant-container #create-row {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#restaurant-container #create-row #left-create {
  display: flex;
  justify-content: flex-start;
}

#restaurant-container #create-row #right-create {
  display: flex;
  justify-content: flex-end;
}

#restaurant-container #create-row #right-create .fa,
#restaurant-container #create-row #right-create .fas {
  font-size: 20px;
  padding-left: 10px;
  vertical-align: middle;
}

#restaurant-container #create-row #right-create #create-button {
  padding: 10px;
  text-decoration: none;
  color: #202020;
  background-color: #FAD10A;
  text-align: center;
  border-radius: 20px;
}

#restaurant-container #restaurant-cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
}

#restaurant-container #restaurant-cards .crd {
  width: 22%;
  margin: 0 1%;
  height: 480px;
  border-radius: 20px;
  background-color: white;
}

#restaurant-container #restaurant-cards .crd li span {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #202020;
}

#restaurant-container #restaurant-cards .crd li span,
#restaurant-container #restaurant-cards .crd li p,
#restaurant-container #restaurant-cards .crd li a {
  padding: 0 7%;
}

#restaurant-container #restaurant-cards .crd li img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#restaurant-container #restaurant-cards .crd .fa,
#restaurant-container #restaurant-cards .crd .fas {
  font-size: 22px;
  padding-left: 7%;
}

.side-padding {
  padding: 0 6%;
}

footer {
  width: 100%;
  background-color: black;
  padding: 20px 12px 10px 12px;
}

footer div .border-footer-divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid white;
  padding: 3px 25px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: white;
  text-shadow: #00CCBC 1px 1px;
  text-decoration: none;
}

footer h3 {
  color: white;
  text-shadow: white 1px 1px;
  margin: 10px 20px 10px 25px;
  font-size: 2em;
}

footer h3 span {
  color: #00CCBC;
  text-shadow: #00CCBC 1px 1px;
}

footer img {
  width: 200px;
  height: auto;
}

footer .ms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .ms-container .top {
  width: 100%;
  display: flex;
  direction: row;
  justify-content: space-between;
}

footer .ms-container .top .logo {
  width: 50%;
}

footer .ms-container .top .info {
  width: 50%;
}

footer .ms-container .top .info .info-box {
  display: flex;
  justify-content: flex-end;
  font-size: 1.15em;
}

footer .ms-container .top .info .info-box div {
  padding: 25px 40px;
}

footer .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .bottom .icons i {
  font-size: 1.35rem;
  margin: 10px 20px 10px 25px;
  padding: 25px 3px;
}

footer .bottom .privacy {
  display: flex;
  flex-direction: column;
  padding: 25px 40px;
}

footer .bottom .privacy .top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .bottom .privacy .top a {
  font-size: 1.15em;
  margin: 5px;
}

footer .bottom .privacy .copyright {
  color: #00CCBC;
  align-self: flex-end;
}

header {
  height: 75px;
  width: 100%;
  z-index: 900;
  background: transparent;
  position: fixed;
  transition: height 0.5s, background-color 0.5s, border-bottom 0.2s;
}

header.scrolled {
  height: 100px;
  background-color: #00ccbc;
  box-shadow: 0 0 10px 0 #5e5e5e;
}

header nav {
  padding: 10px 40px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

header nav img {
  vertical-align: middle;
  width: 200px;
}

header nav .ham-container {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  overflow: visible;
  margin-right: 30px;
}

header nav .ham-container .hamburger {
  position: relative;
  z-index: 950;
  line-height: 30px;
  height: 4px;
  width: 30px;
  background-color: white;
  border: 0;
  transition: background-color 0.5s;
}

header nav .ham-container .hamburger::before,
header nav .ham-container .hamburger::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: white;
  border: 0;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

header nav .ham-container .hamburger::before {
  top: -9px;
}

header nav .ham-container .hamburger::after {
  bottom: -9px;
}

header nav .ham-container.active .hamburger {
  background-color: transparent;
}

header nav .ham-container.active .hamburger::before,
header nav .ham-container.active .hamburger::after {
  width: 30px;
  background-color: white;
  left: 50%;
}

header nav .ham-container.active .hamburger::before {
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

header nav .ham-container.active .hamburger::after {
  bottom: 50%;
  transform: translate(-50%, 50%) rotateZ(-45deg);
}

header .menulist {
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 910;
  text-align: center;
  padding-top: 50px;
  margin-right: 0px;
  margin-right: 10px;
  background-color: #00ccbc;
  transition: left 0.5s, visibility 0.5s, opacity 0.5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .menulist.active {
  left: 0%;
  visibility: visible;
  opacity: 1;
}

header .menulist li {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

header .menulist li:first-child a {
  background-color: #ffaf53;
  padding: 10px 50px;
  border-radius: 3px;
}

header .menulist li a {
  text-decoration: none;
  color: #000000;
}

* {
  outline: none;
}

#landing-jumbo #background-jumbo {
  background-image: url(/images/background-landing.png?b13fd6cc8729ea0cbf60ce8b03cbe494);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 115vh;
  width: 100%;
  margin-top: -100px;
  padding: 0 3%;
  -webkit-animation-name: bg-landing-rgb;
          animation-name: bg-landing-rgb;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landing-jumbo #background-jumbo .type {
  z-index: 1;
}

#landing-jumbo #background-jumbo .type img {
  -webkit-animation: float-up 5s ease-in-out infinite;
          animation: float-up 5s ease-in-out infinite;
  width: 120px;
  height: auto;
}

#landing-jumbo #background-jumbo #pizzeria {
  position: absolute;
  top: 80px;
  left: 500px;
}

#landing-jumbo #background-jumbo #fastfood {
  position: absolute;
  top: 120px;
  left: 230px;
}

#landing-jumbo #background-jumbo #sushi {
  position: absolute;
  right: 150px;
}

#landing-jumbo #background-jumbo #sushi img {
  width: 140px;
}

#landing-jumbo #background-jumbo #messicano {
  position: absolute;
  left: 100px;
}

#landing-jumbo #background-jumbo #messicano img {
  -webkit-animation: float-down 5s ease-in-out infinite;
          animation: float-down 5s ease-in-out infinite;
}

#landing-jumbo #background-jumbo #cinese {
  position: absolute;
  bottom: 40px;
  left: 500px;
}

#landing-jumbo #background-jumbo #cinese img {
  -webkit-animation: float-down 5s ease-in-out infinite;
          animation: float-down 5s ease-in-out infinite;
}

#landing-jumbo #background-jumbo #carne {
  position: absolute;
  bottom: 50px;
  left: 90px;
}

#landing-jumbo #background-jumbo #carne img {
  width: 140px;
}

#landing-jumbo #background-jumbo #pesce {
  position: absolute;
  top: 80px;
  right: 250px;
}

#landing-jumbo #background-jumbo #pasticceria {
  position: absolute;
  bottom: 40px;
  right: 500px;
}

#landing-jumbo #background-jumbo #vegan {
  position: absolute;
  right: 160px;
  bottom: 60px;
}

#landing-jumbo #background-jumbo #vegan img {
  -webkit-animation: float-down 5s ease-in-out infinite;
          animation: float-down 5s ease-in-out infinite;
  width: 100px;
}

#landing-jumbo #background-jumbo #poke {
  position: absolute;
  top: 80px;
  right: 500px;
}

#landing-jumbo #background-jumbo #poke img {
  -webkit-animation: float-down 5s ease-in-out infinite;
          animation: float-down 5s ease-in-out infinite;
}

#landing-jumbo #landing-title {
  color: #000000;
  font-weight: bold;
  z-index: 10;
  position: absolute;
}

#landing-jumbo #landing-title h1 {
  font-size: 6rem;
  font-weight: bolder;
}

#landing-jumbo #landing-title h2 {
  margin: 15px 0 60px 0;
}

#landing-jumbo div.landing-buttons {
  display: inline;
  text-decoration: none;
  letter-spacing: 3px;
  width: 30%;
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

#landing-jumbo div.landing-buttons:hover {
  text-decoration: none;
}

#landing-jumbo div.landing-buttons #white-button {
  border: 4px solid #000000;
  padding: 15px 35px;
  background-color: #ffffff;
  margin-right: 10px;
  color: #000000;
  text-decoration: none;
}

#landing-jumbo div.landing-buttons #white-button:hover {
  background-color: #000000;
  color: #ffffff;
}

#landing-jumbo div.landing-buttons #dotted-button {
  border: 4px dashed rgba(73, 73, 73, 0.26);
  padding: 15px 35px;
  margin-left: 10px;
  color: #000000;
  text-decoration: none;
  cursor: context-menu;
}

.popup-note .pop {
  display: none;
  position: absolute;
  border-radius: 30px;
  border: 4px solid black;
  font-size: 1.6rem;
  color: black;
  background: white;
  padding: 15px 35px;
  text-align: center;
  z-index: 20;
}

.popup-note:hover .pop {
  display: block;
  transform: scale(1.2);
  z-index: 20;
}

.popup-note:hover .up {
  bottom: 100px;
}

.popup-note:hover .right {
  left: 140px;
  bottom: 40px;
}

#lottie-player {
  width: 100%;
  height: 115vh;
}

.scale:hover {
  transform: scale(0.9);
  transition: ease-in-out 0.3s;
}

#scooter {
  position: absolute;
  -webkit-animation: run 8s;
          animation: run 8s;
}

.prova1 {
  text-align: center;
  color: pink;
}

@-webkit-keyframes run {
  from {
    left: 0px;
  }

  to {
    left: 1200px;
  }
}

.riders-img {
  height: 400px;
  margin-top: 50px;
  display: block;
  width: 50%;
}

.home_route {
  font-size: 3rem;
  text-align: center;
}

.home_route a {
  color: pink;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
a,
span {
  font-family: "Fredoka One", cursive;
}

p {
  font-family: "Raleway", sans-serif;
}

.container-sticky-footer {
  flex-grow: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

