@keyframes shrinkbg { //unused
    0% {
        background-size: 110%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes zoombg { //unused
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 130%;
    }
}

//landing-background
@keyframes bg-landing-rgb {
	0% {
		background: #FFC244;
	}
	20% {
		background: #b993fa;
	}
	40% {
		background: #aaf683;
	}
	60% {
		background: #7ae0ff;
	}
	80% {
		background: #ee6055
	}
	100%{
		background: #fc927b;
	}
}


//floating food
@keyframes float-down {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(30px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float-up {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}

// bumping menù (UNUSED)
// animation: down-bump 0.4s ease; //NAME
// 			box:hover {
//   		background-position: 100% 100%;
//   		animation: up-bump 0.4s ease;

				// add colors top background and 2 version of text

@keyframes up-bump {
	0% { padding-top: 2em; }
	50% { padding-top: 1.5em; }
	100% { padding-top: 2em; }
}
@keyframes down-bump {
	0% { padding-top: 2em; }
	50% { padding-top: 2.5em; }
	100% { padding-top: 2em; }
}

/* text typing*/

  // animation: animated-text 4s linear 1s 1 normal both,
  // animated-cursor 600ms linear infinite;


@keyframes animated-text{
  from{width: 0;}
  to{width: 570px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgb(250, 210, 10);}
  to{border-right-color: transparent;}
}

// modal show animation

@keyframes modal-fade-in {
	0%{opacity: 0;}
	100%{opacity: 1;}
}