#scooter {
    // bottom: 15%;
    position: absolute;
    animation: run 8s;
}

.prova1 {
    text-align: center;
    color: pink;
    // background-color: blue;
}

// .movimento {
//     position: relative;
// }

@-webkit-keyframes run {
   from {
       left: 0px;
   }

   to {
       left: 1200px;
   }
}

.riders-img {

    height: 400px;
    margin-top: 50px;
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    width: 50%;
}

.home_route{
    font-size: 3rem;
    text-align: center;
    
    a{
        color: pink;
    }
}
