$general_color: #00ccbc;

#tks_area{

    background-color: $general_color;
    height: 100vh;

    .tks_text{
        text-align: center;
        padding: 3%;
        color: #fff;
    }

    .riders-img {

        height: 400px;
        // margin-top: 50px;
        // display: block;
        // margin-left: auto;
        // margin-right: auto;
        // width: 50%;
    }

    #scooter {
        // bottom: 15%;
        position: absolute;
        animation: run 10s;
    }

    @-webkit-keyframes run {
        from {
            left: 0px;
        }

        to {
            left: 90%;
        }
    }

    .home_route {
        font-size: 3rem;
        text-align: center;

        a {
            color: #fff;
        }
    }
}