footer {
    // $direction: row;
    // $justify: space-between;
    // $align: center;
    
    // @include flex($direction,$justify,$align);
    
    // position: absolute;
    // bottom: 0;
    flex-shrink: 0;
    width: 100%;
    background-color: black;
    padding: 20px 12px 10px 12px;
    
    div {
        .border-footer-divider {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid white;
            padding: 3px 25px;
        }
    }

    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: white;
            text-shadow: #00CCBC 1px 1px;
            text-decoration: none;
        }
    }

    h3 {
        color: white;
        text-shadow: white 1px 1px;
        margin: 10px 20px 10px 25px;
        font-size: 2em;
        span {
            color: #00CCBC;
            text-shadow: #00CCBC 1px 1px;
        }
        
    }
    img {
        width: 200px;
        height: auto;
    }
    .ms-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .top {
            
            //  $direction: row;
            //  $justify: space-between;
            //  $align: center;
            //  @include flex($direction,$justify,$align);
            width: 100%;
            display: flex;
            direction: row;
            justify-content: space-between;
            .logo {
                width: 50%;
            }
            .info {
                width: 50%;
                .info-box {
                    display: flex;
                    justify-content: flex-end;  
                    font-size: 1.15em;                  
                    div {
                        padding: 25px 40px;
                    }
                }
            }
    
        }

    }
    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .icons {
            i {
                font-size: 1.35rem;
                margin: 10px 20px 10px 25px;
                padding: 25px 3px;
            }
        }

        .privacy {
            display: flex;
            flex-direction: column;
            padding: 25px 40px;
            .top {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                a {
                    font-size: 1.15em;
                    margin: 5px;

                }
            }

            .copyright {
                color: #00CCBC;
                align-self: flex-end;
            }
        }
    } 
}