// LOGO IMG
.site-logo {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  margin: 14px;
  padding-left: 60px;
  position: absolute;
   a{
    color: #000000;
   }
}

header {
  height: 75px;
  width: 100%;
  z-index: 900;
  // background: #00ccbc;
  // background: transparent;
  position: fixed;
  margin-top: -3px;
}

.menulist {
  top: 0px;
  left: -100%;
  width: 25%;
  height: 100%;
  position:fixed;
  list-style: none;
  text-align: center;
  padding-top: 50px;
  margin-right: 0px;
  margin-right: 10px;
  transition: 0.5s;
  background:#00ccbc;
}

.menulist li {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin: 10px;
}

.menulist li a {
  text-decoration: none;
  color: #000000;
}

body > header > nav > ul > li:nth-child(1) > a {
  background-color: #ffaf53;
  padding: 10px 50px;
  border-radius: 3px;
}

.check {
  height: 71px;
  width: 60px;
  position: absolute;
  margin: 10px 15px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  z-index: 910;
}

.ham-menu {
  height: 71px;
  width: 60px;
  margin: 3px 20px 0px 15px;
  position: relative;
  display: block;
}

// CUSTOM LINES
//middle
.menuline {
  height: 3px;
  width: 30px;
  position: relative;
  margin: auto;
  display: flex;
  top: 50%;
  background: #ffffff;
  border-radius: 5px;
  z-index: 901;
}

//up
.menuline::before {
  content:'';
  position: absolute;
  height: 3px;
  width: 30px;
  top: -8px;
  background: #ffffff;
  border-radius: 5px;
}

//down
.menuline::after {
  content:'';
  position: absolute;
  height: 3px;
  width: 30px;
  top: 8px;
  background: #ffffff;
  border-radius: 5px;
}

.content-area {
  height: 1000px;
  width: 100%;
  text-align: center;
}

// HAMBURGER CONTENT MENU
.menulist {
  display: block;
  margin-right: 0px;
}

ul.menulist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menulist li a{
  font-size: 1.8rem;
  text-align: center;
}

// HAMBURGER CHECKBOX ANIMATION
.check:checked ~ .menulist{
  left: 0;
}
    
.check:checked ~ .ham-menu .menuline {
  transform: rotate(135deg);
  transition: 0.3s ease;
}

.check:checked ~ .ham-menu .menuline::before,.check:checked ~ .ham-menu .menuline::after {
  top: 0;
  transform: rotate(90deg);
}

// SCROLL CLASSES
.scroll-color{
  background-color: #00CCBC;
  height: 75px;
  margin-top: -3px;
}

.transparent {
  background: transparent;
}