//searchbar general
* {
    outline: none;
}

// Sezione landing container
#landing-jumbo {
    #background-jumbo {
        min-height: 100vh;
        width: 100%;
        margin-top: -100px;
        padding: 0 3%;
        //partials/animations
        animation-name: bg-landing-rgb;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        //flex rules //mixin
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        //types img
        .type {
            z-index: 1;
            img {
                animation: float-up 5s ease-in-out infinite;
                width: 120px;
                height: auto;
            }
        }

        #pizzeria {
            position: absolute;
            top: 19%;
            left: 42%;
        }

        #fastfood {
            position: absolute;
            top: 20%;
            left: 22%;
        }

        #sushi {
            position: absolute;
            top: 42%;
            left: 76%;
            img {
                width: 160px;
            }
        }

        #messicano {
            position: absolute;
            top: 38%;
            left: 10%;
            img {
                animation: float-down 5s ease-in-out infinite;
            }
        }

        #cinese {
            position: absolute;
            top: 76%;
            left: 31%;
            img {
                animation: float-down 5s ease-in-out infinite;
            }
        }

        #carne {
            position: absolute;
            top: 67%;
            left: 10%;
            img {
                width: 140px;
            }
        }

        #pesce {
            position: absolute;
            top: 62%;
            left: 77%;
        }

        #pasticceria {
            position: absolute;
            top: 79%;
            left: 52%;
        }

        #vegan {
            position: absolute;
            top: 77%;
            left: 71%;
            img {
                animation: float-down 5s ease-in-out infinite;
                width: 100px;
            }
        }

        #poke {
            position: absolute;
            top: 20%;
            left: 66%;
            img {
                animation: float-down 5s ease-in-out infinite;
            }
        }
    }

    #landing-title {
        color: #000000; //$text-color-light
        font-weight: bold;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 6rem;
            font-weight: bolder;
        }

        h2 {
            margin: 15px 0 60px 0;
        }
    }

    div.landing-buttons {
        display: inline;
        text-decoration: none;
        letter-spacing: 3px;
        width: 30%;
        font-size: 1.1rem;
        font-weight: 400;
        color: #000000;
        text-align: center;
        &:hover {
            text-decoration: none;
        }

        #white-button {
            border: 4px solid #000000;
            padding: 15px 35px;
            background-color: #ffffff;
            margin-right: 10px;
            color: #000000;
            text-decoration: none;
            &:hover {
                background-color: #000000;
                color: #ffffff;
            }
        }
        #dotted-button {
            border: 4px dashed rgba(73, 73, 73, 0.26);
            padding: 15px 35px;
            margin-left: 10px;
            color: #000000;
            text-decoration: none;
            cursor: context-menu; //no-cursor pointer
        }
    }
}

//popup text img
.popup-note {
    .pop {
        display: none;
        position: absolute;
        border-radius: 30px;
        border: 4px solid black;
        font-size: 1.6rem;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        padding: 15px 35px;
        text-align: center;
        z-index: 20;
    }
    &:hover {
        .pop {
            display: block;
            transform: scale(1.2);
            z-index: 9998;
        }
        .up {
            bottom: 100px;
        }
        .right {
            left: 140px;
            bottom: 40px;
        }
    }
}

//boobles
#lottie-player {
    width: 1900px;
    height: 116vh;
}

//scale img on hover
.scale {
    &:hover {
        transform: scale(0.9);
        transition: ease-in-out 0.3s;
    }
}

// MEDIA QUERY
@media screen and(max-width:576px)  {  
    #dotted-button {
        display: none;
    }

    //boobles
    #lottie-player {
        width: 800px;
        height: 116vh;
    }

    
    // resize pop hovers
    .popup-note {
        .pop {
            display: none;
            position: absolute;
            z-index: 20;
        }
        &:hover {
            .pop {
                display: block;
                transform: scale(0.8);
                z-index: 9998;
            }
            .up {
                bottom: 60px;
            }
            .right {
                left: 100px;
                bottom: 30px;
            }
        }
    }
    
    #landing-jumbo {
        overflow-x: hidden;
        #background-jumbo {
            #or {
                display: none;
            }
            .type {
                z-index: 20;
                img {
                animation: float-up 5s ease-in-out infinite;
                width: 80px;
                height: auto;
                }
            }
            #pizzeria {
                position: absolute;
                top: 17%;
                left: 38%;
            }
            #fastfood {
                position: absolute;
                top: 25%;
                left: 10%;
            }
            #sushi {
                position: absolute;
                top: 58%;
                left: 64%;
                z-index: 999;
                img {
                    width: 100px;
                }
            }
            #messicano {
                position: absolute;
                top: 26%;
                left: 33%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                }
            }
            #cinese {
                position: absolute;
                top: 83%;
                left: 18%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                }
            }
            #carne {
                position: absolute;
                top: 71%;
                left: 6%;
                img {
                    width: 90px;
                }
            }
            #pesce {
                position: absolute;
                top: 70%;
                left: 70%;
            }
            #pasticceria {
                position: absolute;
                top: 74%;
                left: 40%;
            }
            #vegan {
                position: absolute;
                top: 84%;
                left: 69%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                    width: 60px;
                }
            }
            #poke {
                position: absolute;
                top: 21%;
                left: 66%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                }
            }
        }
        #landing-title {
            h1 {
                font-size: 4.8rem;
            }
            h2 {
               
            }
        }
    }
  } // /@<576px

  @media (max-width:1192px) and (min-width:873px) {
    //boobles
    #lottie-player {
        width: 900px;
        height: 116vh;
    }
    

    #dotted-button {
        display: flex;
        margin-left: 0px;
        margin-top: 33px;
        flex-direction: column;
    }
    #landing-jumbo {
        #background-jumbo {
            .type {
                img {
                width: 110px;
                height: auto;
                }
            }
            #pizzeria {
                position: absolute;
                top: 17%;
                left: 42%;
            }
    
            #fastfood {
                position: absolute;
                top: 19%;
                left: 22%;
            }
    
            #sushi {
                position: absolute;
                top: 42%;
                left: 76%;
                img {
                    width: 140px;
                }
            }
    
            #messicano {
                position: absolute;
                top: 38%;
                left: 6%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                }
            }
    
            #cinese {
                position: absolute;
                top: 79%;
                left: 28%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                }
            }
    
            #carne {
                position: absolute;
                top: 70%;
                left: 7%;
                img {
                    width: 120px;
                }
            }
    
            #pesce {
                position: absolute;
                top: 62%;
                left: 77%;
            }
    
            #pasticceria {
                position: absolute;
                top: 79%;
                left: 56%;
            }
    
            #vegan {
                position: absolute;
                top: 77%;
                left: 71%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                    width: 85px;
                }
            }
    
            #poke {
                position: absolute;
                top: 20%;
                left: 66%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                }
            }
        }  
    }
  }

  @media (max-width:872px) and (min-width:577px) {
    //boobles
    #lottie-player {
        width: 872px;
        height: 116vh;
    }
 
    #dotted-button {
        display: none;
    }
    #landing-jumbo {
        #background-jumbo {
            #or {
                display: none;
            }
            .type {
                img {
                width: 100px;
                height: auto;
                }
            }
            #pizzeria {
                position: absolute;
                top: 15%;
                left: 42%;
            }
    
            #fastfood {
                position: absolute;
                top: 19%;
                left: 18%;
            }
    
            #sushi {
                position: absolute;
                top: 42%;
                left: 76%;
                img {
                    width: 130px;
                }
            }
    
            #messicano {
                position: absolute;
                top: 38%;
                left: 4%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                }
            }
    
            #cinese {
                position: absolute;
                top: 79%;
                left: 24%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                }
            }
    
            #carne {
                position: absolute;
                top: 70%;
                left: 4%;
                img {
                    width: 110px;
                }
            }
    
            #pesce {
                position: absolute;
                top: 62%;
                left: 77%;
            }
    
            #pasticceria {
                position: absolute;
                top: 79%;
                left: 54%;
            }
    
            #vegan {
                position: absolute;
                top: 77%;
                left: 71%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                    width: 75px;
                }
            }
    
            #poke {
                position: absolute;
                top: 20%;
                left: 66%;
                img {
                    animation: float-down 5s ease-in-out infinite;
                }
            }
        }
        #landing-title {
            h1 {
                font-size: 5.5rem;
            }
        }  
    }
  }
  