// estetica interno modal box
.modal{
    .modal-content {
        #info-box, .info-box{
            margin: auto;
            h5{
                font-size: 17px;
                font-weight: normal;
            }
            h4 {
                text-align: center;
                font-size: 1.5rem;
            }
            li {
                // display: flex;
                margin-top: 10px;
                position: relative;
                h3{
                    font-size: 28px;
                    text-transform: capitalize;
                    font-weight: normal;
                    margin: 5px 0;
                    padding: 0;
                }

                label{
                    margin-right: 10px;
                    display: block;
                    font-weight: 600;
                    font-size: 18px;
                    font-family:'Segoe UI';
                }

                input, textarea{
                    width: 100%;
                    border: 1px solid #EFEFEF;
                    border-radius: 5px;
                    padding: 5px 5px 5px 12px;
                    margin-top: 4px;
                    font-size: 16px;
                    font-family:'Segoe UI';
                    box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2);
                }

                button{
                    font-family:'Segoe UI';
                    font-weight: bold;
                    font-size: 16px;
                    border: 2px solid #ffc244;
                    border-radius: 5px;
                    padding: 10px 15px;
                    background-color: #ffc244;
                    color: white;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                      background-color: #feb622;
                      border: 2px solid #feb622;
                      color: white;
                    }
                }
            }
            .title-card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                img , #img-edit-product{
                    align-self: center;
                    width: 120px;
                    height: auto;
                    padding: 5px;
                    margin: 10px 0;

                }
            }
            .category-box {
                display: flex;
                flex-wrap: wrap;

                .edit-prod {
                    display: flex;
                    background-color: white;
                    width: 138px;
                    border-radius: 5px;
                    margin: 5px;
                    padding: 5px;
                    position: relative;
                    box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2);
                    border: 1px solid #EFEFEF;

                    input{
                        width: auto;
                        margin-left: 5px;
                    }

                    .circle{

                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        cursor: pointer;
                        height: 16px;
                        left: 3px;
                        position: absolute;
                        top: 9px;
                        width: 16px;
                    }

                    .circle:after{
                        border: 2px solid #fff;
                        border-top: none;
                        border-right: none;
                        content: "";
                        height: 4px;
                        left: 2px;
                        opacity: 0;
                        position: absolute;
                        top: 4px;
                        transform: rotate(-45deg);
                        width: 8px;
                    }

                    input[type="checkbox"] {
                        visibility: hidden;
                    }

                    input[type="checkbox"]:checked + .circle {
                        background-color: #66bb6a;
                        border-color: #66bb6a;
                    }

                    input[type="checkbox"]:checked + .circle:after {
                        opacity: 1;
                    }

                    .name-category{
                        text-transform: capitalize;
                        cursor: pointer;
                    }
                }
            }
            .box-visible{
                margin-top: 5px;

                label{
                    // margin-left: 10px;
                    display: inline;
                    margin-right: 0;
                    font-weight: normal;
                    font-size: 16px!important;
                    &:last-of-type{
                        margin-left: 10px
                    }
                }
                
                input{
                    width: 20px;
                    height: 18px;
                    border: 0;
                    box-shadow: none;
                    vertical-align: bottom;
                }
            }
        }
    }
}

// funzionamento modal
.modal.active {
    display: block;
}
#myModal{
    #info-box{
        margin: auto;
        text-align: left;
        p{
            padding: 5px 0;
        }
    }

}
.modal {
    cursor: auto;
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    .modal-content {
        position: relative;
        z-index: 80;
        background-color: #fefefe;
        margin: 130px auto 30px;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        // transition: .3s;
        animation: modal-fade-in .3s ease-in-out;
        border-radius: 10px;
    }
    h3{
        border-bottom: 1px solid lightgrey;
    }
    .close {
        color: #aaa;
        position: absolute;
        z-index: 10;
        right: 10px;
        top: 10px;
        font-size: 24px;
        font-weight: bold;
        width: 30px;
        transition: color .5s;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
    }
  }
  .product-details{

    .modal-content {
        width: 50%;
        position: relative;
        top: 25px;
        .info-box{
            ul{
                li{
                    h3{
                        padding-bottom: 10px;
                    }
                    h5{
                        margin: 10px 0 5px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    main, main.details{
        .modal, #myModal{
            .modal-content {
                width: 80%;
                .close {
                    font-size: 34;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    main , main.details{
        .modal, #myModal{
            .modal-content {
                width: 100%;
                .close {
                    font-size: 40px;
                }
            }
        }
    }
}
