//main container
#restaurant-container {
    background-color: whitesmoke;
    padding-top: 70px;

    #create-row {
        margin-top: 30px;

      #left-create{
            display: flex;
            justify-content: center;

            h1{
                font-size: 30px;
                padding-top: 15px;
                padding-bottom: 10px;
            }
        }

      #right-create {
            display: flex;
            justify-content: flex-end;
            padding-right: 95px;

            .fa, .fas{
                font-size: 20px;
                padding-left: 10px;
                vertical-align: middle;
            }

            #create-button {
                padding: 10px;
                text-decoration: none;
                color: #202020;
                background-color: #FFC244;
                text-align: center;
                border-radius: 20px;
            }
        }
    }

    #restaurant-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;

        .crd{
            width: 350px;
            margin: 0px 14px 30px 14px;
            height: 305px;
            border-radius: 20px;
            background-color: white;

            &.hidden-crd {
                opacity: 0.6;
            }

        }

        ul {
            width: 340px;

            li {

                display: flex;

                span {
                    font-size: 1.6rem;
                    color: #202020;
                }

                span, p, a{
                    padding: 0 0 0 15px;
                }

                p{
                    font-size: 14px;
                }

            }

            .image-relative{
                position: relative;

                img {
                    filter: contrast(70%);
                    height: 233px;
                    width: 350px;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                span{
                    position: absolute;
                    z-index: 10;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-transform: capitalize;
                    color: white;
                    padding: 0;
                    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
                }
            }

            .fa, .fas{
                font-size: 20px;
                padding-left: 15px;
            }
        }

        .btn-edit-del {
            display: flex;
            justify-content: flex-end;
            padding: 5px 10px 0 0;
            font-size: 18px;
        }

        .hide-button {
            margin-left: 10px;
            // color: rgb(228, 87, 87);
            color: black;
        }

        #edit-button{
            // color: rgb(25, 122, 201);
            color: black;
        }

    }


    #restaurant-address {
        margin-top: 10px;
    }

}

// Spacing
.side-padding {
  padding: 0 6%;
}

// Small
@media screen and (max-width: 576px) {

    #restaurant-container {
        min-width: 350px;

        #create-row {
            margin-top: 30px;

          #left-create{

                h1{
                    font-size: 30px;
                    padding-top: 20px;
                    padding-bottom: 15px;
                }
            }

          #right-create {
                display: flex;
                justify-content: center;
                padding-right: 0;
            }
        }

        #restaurant-cards {

            .crd{
                width: 320px;
                margin: 15px 0;
                height: 305px;

            }

            ul {

                .image-relative{

                    img {
                        height: 233px;
                        width: 320px;
                    }
                }
            }

        }


        #restaurant-address {
            margin-top: 10px;
            width: 320px;

            i{
                line-height: 30px;
            }
        }

    }
}
