$general_color: #00ccbc;

#pay_area{

    form{

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f3f2f2;
        height: 100vh;

        #box_list{
            // height: 80%;
            // border: solid 4px green;
            // width: 30%;
            z-index: 100;
            transition: .5s;

            h2{
                color: #fff;
            }
        }

        #box_pay{
            z-index: 100;
            width: 30%;
            // height: 80%;
            // border: solid 4px green;

            h2 {
                color: #fff;
            }

            form{
                button{
                    padding: 3%;
                }
            }
        }
    }
}

.braintree-sheet__header{
    background-color: $general_color;
    border: none;
}

.braintree-sheet__content--form{
    background-color: $general_color;
}
