main.user.details{
    .dishes-box{
        margin-bottom: 40px;
        ul:not(.overview ul){
            flex-basis: 100%;
            justify-content: flex-start;
            li:not(.overview li) {
                flex-basis: calc(100% / 3 - 20px);
                cursor: default;
            }
            .info-badge {
                width: 23px;
                @include info-details;
                text-align: center;
                overflow: hidden;
                position: absolute;
                top: 10px;
                right: 10px;
                i {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
        }
        li#new-product.new-product {
            display: flex;
            justify-content: center;
            .add-new {
                display: flex;
                justify-content: center;
                background-color: rgba(0, 172, 0, 0.178);
                border-radius: 3px;
                width: 100%;
                padding: 10px;
                i {
                    align-self: center;
                    font-size: 35px;
                    color:rgba(0, 180, 60, 0.76);
                    vertical-align: middle;
                    transition: color .3s;
                    
                }
                &:hover {
                    cursor: pointer;
                    background-color: rgba(0, 172, 0, 0.521);
                    i {
                        transform: scale(1.2);
                        color: white;
                    }
                }
            }
        }
    }
    #appChart{
        text-align: left;
        max-width: 1840px;
        width: 80%;
        margin: 0 10% 100px;
        font-family: "Raleway", sans-serif;
        h3 {
            font-weight: normal;
            margin-bottom: 20px;
        }
        label{
            font-size: 18px;
        }
        #yearOrder{
            font-family: "Raleway", sans-serif;
            background-color: transparent;
            border: 0;
            font-size: 18px;
            margin-right: 20px;
        }
        input[type="radio"]{
            margin-right: 10px;
        }
        #myChart{
            max-height: 500px;
            padding: 0 50px;
        }
    }

    h3{
        font-weight: normal;
        margin: 0 10% 20px;
    }

    .orders-tab{
        margin: 0 10% 50px;
        width: 80%;
        height: 500px;
        overflow: auto;
        table{
            font-family: "Raleway", sans-serif;
            font-size: 14px;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.205);
            // border: 1px solid transparent;
            border-radius: 5px;
            border-spacing: 0;
            tr{
                border-spacing: 0;
                th{
                    background-color: #ffc14457;
                    padding: 20px 10px;
                }
                td{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
                    text-align: center;
                    padding: 10px;
                    li{
                        text-transform: capitalize;
                    }
                }
                &:last-child{
                    td{
                        border-bottom-width: 0px;
                    }
                }
                
            }
        }
        &::-webkit-scrollbar {
            width: 6px;
        } 
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        } 
        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        }
    }
}

// checkbox style
// input[type=checkbox]{
//     position:absolute;
//     opacity: 0;
//     z-index: -9999;
// }

// input[type=checkbox] + label{
//     position: relative;
//     padding-left: 24px;
// }

// input[type=checkbox] + label .check{
//     position: absolute;
//     left: -4px;
//     display: block;
//     width: 24px;
//     height: 24px;
//     background: #fff;
//     border-radius:3px;
//     border:1px solid #ddd;
//     cursor: pointer;
// }

// input[type=checkbox]:checked + label .check{
//     background: #a123cb;
// }

// input[type=checkbox]:checked + label .check::after{
//     content: "";
//     position: absolute;
//     width: 10px;
//     height: 16px;
//     border: 4px solid #fff;
//     border-left: none;
//     border-top: none;
//     transform: rotate(45deg);
//     left: 6px;
// }

// input[type=checkbox] {
//     opacity: 0;
// }
// label{
//     .check{
//         // content: '&#9744;';
//         width: 10px;
//         height: 10px;
//         border: 1px solid black;
//         border-radius: 50%;
//     }
// }

// input[type=checkbox]:checked + label.check{
//   background-color: rgba(0, 172, 0, 0.521);
//   border: 1px solid white;
//   color: white;
//   content: '&#10004;';  
        
// }