main.create-restaurant{

    div.container{
        width: 75%;
        margin: 30px auto;
        border: 1px solid black;
        border-radius: 15px;
        background-color: white;

        div.separation-content{
            display: flex;
            justify-content: space-between;

            form{
                width: 55%;

                ul{

                    li{
                        padding: 10px 30px;

                        label{
                            font-family: "Fredoka One", cursive;
                            font-size: 18px;
                        }

                        .text{
                            font-size: 15px;
                            width: 87%;
                            margin-top: 5px;
                            padding: 5px 15px;
                            border: none;
                            border-radius: 5px;
                            box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2);
                        }

                        textarea{
                            font-family: fantasy;
                            box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2);
                        }
                        .container-categories{
                            display: flex;
                            flex-wrap: wrap;

                            .category{
                                background-color: white;
                                width: 138px;
                                border-radius: 5px;
                                margin: 5px;
                                padding: 5px;
                                position: relative;
                                box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2);

                                .circle{
                                    background-color: #fff;
                                    border: 1px solid #ccc;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    height: 16px;
                                    left: 3px;
                                    position: absolute;
                                    top: 8px;
                                    width: 16px;
                                }

                                .circle:after{
                                    border: 2px solid #fff;
                                    border-top: none;
                                    border-right: none;
                                    content: "";
                                    height: 4px;
                                    left: 2px;
                                    opacity: 0;
                                    position: absolute;
                                    top: 4px;
                                    transform: rotate(-45deg);
                                    width: 8px;
                                }

                                input[type="checkbox"] {
                                    visibility: hidden;
                                }

                                input[type="checkbox"]:checked + .circle {
                                    background-color: #66bb6a;
                                    border-color: #66bb6a;
                                }

                                input[type="checkbox"]:checked + .circle:after {
                                    opacity: 1;
                                }

                                .name-category{
                                    text-transform: capitalize;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            .logo-image{
                width: 45%;
                background-color: #FF5757;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;

                #logo-img{
                    width: 90%;
                    background-color: #FF5757;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
            }
        }

        .submit{
            border-top: 2px solid grey;
            padding: 15px 30PX;

            .button-back{
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                font-size: 16px;
                border: 2px solid #ffc244;
                border-radius: 5px;
                padding: 10px 15px;
                background-color: #ffc244;
                color: white;
                text-decoration: none;

                  &:hover {
                    background-color: #feb622;
                    border: 2px solid #feb622;
                    color: white;
                }
            }

            .button-create{
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                font-size: 16px;
                border: 2px solid #ffc244;
                border-radius: 5px;
                padding: 10px 15px;
                background-color: #ffc244;
                margin: 0 10px;
                color: white;
                text-decoration: none;
                cursor: pointer;

                  &:hover {
                    background-color: #feb622;
                    border: 2px solid #feb622;
                    color: white;
                }
            }
        }
    }
}

// Extra Large
@media screen and (max-width: 1200px) and (min-width: 993px) {
    main.create-restaurant{

        div.container{

            div.separation-content{

                .logo-image{
                    width: 50%;
                }
            }
        }
    }
}

// Large
@media screen and (max-width: 992px) and (min-width: 769px) {
    main.create-restaurant{

        div.container{
            width: 95%;

            div.separation-content{

                form{
                    width: 55%;

                    ul{

                        li{

                            .text{

                                width: 100%
                            }
                        }
                    }
                }

                .logo-image{
                    width: 55%;
                }
            }

            .submit{
                padding: 15px 10px 15px 30px;
                .button-create{

                    margin: 0 0 0 10px;
                }
            }
        }
    }
}

// Medium
@media screen and (max-width: 768px) {
    main.create-restaurant{

        div.container{
            width: 95%;

            div.separation-content{
                display: block;
                width: 100%;

                form{
                    width: 100%;

                    ul{

                        li{

                            .text{

                                width: 100%
                            }
                        }
                    }
                }

                .logo-image{
                    width: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    border-bottom-left-radius: 0;

                    #logo-img{

                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        border-bottom-left-radius: 0;
                    }
                }
            }

            .submit{
                padding: 15px 10px 15px 30px;

                .button-create{

                    margin: 0 0 0 10px;
                }
            }
        }
    }
}

// Small
@media screen and (max-width: 576px) {
    main.create-restaurant{
        min-width: 350px;

        div.container{
            width: 95%;

            div.separation-content{
                display: block;
                width: 100%;

                form{
                    width: 100%;

                    ul{

                        li{

                            .text{

                                width: 100%
                            }

                            .container-categories{

                                .category{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .logo-image{
                    width: 100%;
                }
            }

            .submit{
                padding: 15px 10px 15px 10px;

                .button-create{

                    margin: 0 0 0 10px;
                }
            }
        }
    }
}
