// .list-container {
//     background-color: whitesmoke;
    div.list-jumbotron {   
        // display: flex;
        height: fit-content;
        background-color: #00CCBC;
        padding: 50px 30px 30px 30px;
        h2 {
            text-align: center;
        }
        ul {
            width: 65%;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 30px 0px;
            li {
                display: flex;
                align-self: center;
                align-content: center;
                justify-content: center;
                margin: 5px;
                border-radius: 50%;
                background-color: whitesmoke;
                padding: 15px;
                box-shadow: 0 2px 17px 0 #00CCBC;
                label {
                    cursor: pointer;
                    position: relative;
                    input {
                        position: absolute;
                        opacity: 0;
                    }
                    img {
                        filter: grayscale(100%);
                        width: 80px;
                        height: 80px;
                        &:hover {
                            filter: grayscale(0%);
                        }
                }
                }
            }
        }
    }

    .titles-restaurant-list {
        width: 80%;
        margin: auto;
        h2#title {
            text-align: center;
            font-size: 56px;
            font-weight: bold;
            // text-shadow: 1px 1px whitesmoke;
            // &:hover {
            // text-shadow: 2px 2px white;
            // transition: all .5s ease-in-out;
    
            // }
             }
        h4 {
            font-size: 32px;
            text-align: left;
            margin-left: 10px;
            //nothing to see here
        }
    }
    .restaurants-box {
        width: 80%;
        margin: auto;
        $direction: row;
        $justify:space-between;
        $align: center;
        @include flex($direction, $justify, $align);
        flex-wrap: wrap;

        .restaurant-card {
            width: 30%;
            height: 230px;
            margin: 10px;

            // &:hover {
            //     box-shadow: 3px 2px 1px rgba(192, 247, 182, 0.7)
            // }
            .top-info {
                font-family: 'Raleway', sans-serif;
                $direction: column;
                $justify: center;
                @include flex($direction, $justify, $align);

                // @include border-r-c;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                flex-grow: 1;
                width: 100%;
                height: 77%;
                // backdrop-filter: grayscale(60%);
                z-index: 2;
                // object-fit: contain;
                position: relative;
                // filter: grayscale(60%);
                .background-image {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    background-image: url('/storage/assets/pizza-placeholder.jpg');
                    background-size: 100%;
                    background-position: center right; 
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    filter: contrast(65%);
                    z-index: 1;
                    // &:hover{
                    //     filter: saturate(50%);
                    //     background-size: 115%;
                    //     background-position: center right; 
                    //     transition: all .7s ease-in-out;
                    // }
                }
                &:hover{
                    cursor: pointer;
                    // animation: zoombg 2s ease-in;
                    .background-image {
                            filter: contrast(90%);
                            background-size: 103%;
                            background-position: center center; 
                            transition: all .15s ease-in-out;              
                    }
                    > a {
                        text-shadow:  0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
                        transition: all .1s ease-in-out;                          
                    }
                }
                a {
                    z-index: 2;
                    text-decoration: none;
                    font-size: 35px;
                    color: whitesmoke;
                    font-weight: 900;
                }
                .categories-card {
                    z-index: 2;
                    
                    display: flex;
                    flex-direction: row;
                    
                    .cell {
                        margin: 3px;
                        width: min-content;
                        border: 1px solid black;
                        text-align: center;
                        border-radius:4px;
                        padding: 0px 4px;
                        &:hover {
                            text-shadow: white 1px 1px;
                            
                            transition: all .3s ease-in-out;
                        }
                        a {
                            font-family: 'Raleway', sans-serif;
                            color: black;
                            font-weight: 500;
                            font-size: 18px;        
                        }
                    }
                    .type-generic {
                        background-color: rgba($color: #fff, $alpha: .65);
                        &:hover {
                            background-color: rgba($color: #fff, $alpha: 1);
                            transition: all .3s ease-in-out;

                        }
                    }
                }
            }

            .bottom-info {
                // @include border-r-c;
                display: flex;
                justify-content: space-between;
                font-size: 1.5em;
                padding: 5px 15px;
                background-color: white;
                width: 100%;
                height: 23%;
                overflow: hidden;
                // border-radius: 8px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                box-shadow: 0 2px 20px 0 rgba(0, 0 ,0,10%);
                * {
                    align-self: center;

                }
                .delivery {
                    display: flex;
                    i {
                        &:hover {
                        text-shadow:  0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
                        transition: all .1s ease-in-out;                         
                        }
                        // position: relative;
                        // top: 5px;
                        // align-self: center;
                    }
                    .delivery-checkout {
                        // align-self: center;
                        font-size: 12px;
                        padding: 5px;
                        margin-left: 5px;
                        width: fit-content;
                        height: fit-content;
                        background-color: transparent;
                        border-radius: 8px;
                    }
                    .active {
                        background-color: rgba(#00CCBC, 0.7);
                        &:hover {
                            background-color:rgba(#00CCBC, 0.9);
                        }
                    }
                }
                // .stats {
                //     i {
                //         &:hover {
                //             font-size: 1.56em;
                //             transition: all .1s ease-in-out;                         
                //         }
                //     }
                // }

                // .address-show { 
                //     display: none;
                //     position: relative;
                //     width: min-content;

                // }
                .address-icon {
                    a{
                        text-decoration: none;
                        color: black;
                        // &:hover {
                        //     text-decoration: none;
                        //     color: #C0F7B6;
                        //     // .address-show{
                        //     //     display: block;
                        //     //     color: black;
                        //     // }
                        // }                        
                    }
                }
            }
        }
    }   

// }