main.user.details{
    .dishes-box{
        margin-bottom: 40px;
        justify-content: flex-start;
        ul:not(.overview ul){
            flex-basis: 100%;
            h3{
                margin: 0 0 20px;
            }
            .dish-element {
                &.hide{
                    opacity: 0.6;
                }
                &.no-opacity{
                    opacity: 1;
                }
                flex-basis: calc(100% / 3 - 20px);
                cursor: default;
            }
            .info-badge {
                width: 23px;
                @include info-details;
                text-align: center;
                overflow: hidden;
                position: absolute;
                right: -.1%;
                &.edit-product{
                    top: -5px;
                }
                &.hide-product{
                    top: 22px;
                }
                &.delete-product{
                    bottom: -5px;
                }

                a{
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                }
                i {
                    color: white;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                }
            }
            p.visibility {
                display: flex;
                justify-content: flex-start;
                width: fit-content;
                label {
                    align-self: center;
                    margin: 5px;
                }
                input {
                    align-self: center;
                    margin: 5px;
                }
                align-items: center;
            }
        }
        li#new-product.new-product {
            display: flex;
            justify-content: center;
            .add-new {
                display: flex;
                justify-content: center;
                background-color: rgba(0, 172, 0, 0.178);
                border-radius: 5px;
                width: 100%;
                padding: 10px;
                transition: background-color .3s;
                i {
                    align-self: center;
                    font-size: 35px;
                    color:rgba(0, 180, 60, 0.76);
                    vertical-align: middle;
                    transition: color .3s, transform .3s;
                }
                &:hover {
                    cursor: pointer;
                    background-color: rgba(0, 172, 0, 0.521);
                    i {
                        transform: scale(1.2);
                        color: white;
                    }
                }
            }
        }
    }
    #appChart{
        text-align: left;
        max-width: 1270px;
        margin: 0 10% 100px;
        font-family: "Raleway", sans-serif;
        h3 {
            font-weight: normal;
            margin:0 0 20px;
        }
        div.options{
            margin-bottom: 20px;
            label{
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
        #yearOrder{
            font-family: "Raleway", sans-serif;
            background-color: transparent;
            border: 0;
            font-size: 18px;
            margin-right: 20px;
        }
        input[type="radio"]{
            margin-right: 10px;
        }
        #myChart{
            max-height: 500px;
        }
    }

    .orders-tab{
        &.title{
            height: auto;
            margin-bottom: 0px;
            h3{
                margin-bottom: 20px;
            }
        }
        margin: 0 10% 50px;
        width: 80%;
        max-width: 1270px;
        max-height: 500px;
        overflow: auto;
        table{
            font-family: "Raleway", sans-serif;
            font-size: 14px;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.205);
            border-radius: 5px;
            border-spacing: 0;
            tr{
                border-spacing: 0;
                th{
                    background-color: #ffc14457;
                    padding: 20px 10px;
                }
                td{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
                    text-align: center;
                    padding: 10px;
                    background-color: rgba(255, 255, 255, 0.3);
                    li{
                        text-transform: capitalize;
                    }
                }
                &:last-child{
                    td{
                        border-bottom-width: 0px;
                    }
                }
                
            }
        }
        &::-webkit-scrollbar {
            width: 6px;
        } 
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        } 
        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        }
    }
}

// --- Media query soto i 1350px Speciale ---
@media screen and (max-width: 1350px) {
    main.user.details {
        .dishes-box{
            ul:not(.overview ul){
                .dish-element {
                    flex-basis: calc(100% / 2 - 20px);
                }
            }
        }
    }
}


// --- Media query md fino a 991px---
@media screen and (max-width: 991px) {
    main.user.details {
        .dishes-box{
            ul:not(.overview ul){
                .dish-element {
                    flex-basis: calc(100% / 1 - 20px);
                    height: 200px;
                }
            }
        }
    }
}

// --- Media query sm fino a 768px---
@media screen and (max-width: 767px) {
    main.user.details {
        .dishes-box{
            ul:not(.overview ul){
                .dish-element {
                    height: 170px;
                }
            }
        }
        .orders-tab{
            max-height: 400px;
        }
    }
}

// --- Media query xs fino a 576px ---
@media screen and (max-width: 576px) {
    main.user.details {
        .dishes-box{
            margin: 120px 20px 50px;
            justify-content: center;
            ul:not(.overview ul){
                .dish-element {
                    flex-basis: calc(100% / 1);
                    margin: 0 0 20px;
                }
            }
        }
        #appChart{
            margin: 0 20px 30px;
            // overflow-x: scroll;
            #myChart{
                // min-width: 430px!important;
                // min-height: 280px!important;
            }
        }
        .orders-tab{
            width: calc(100% - 40px);
            margin: 0 20px 50px;
            max-height: 300px;
        }
    }
}

// --- Media query sopra i 1588px Speciale ---
@media screen and (min-width: 1550px) {
    main.user.details {
        #appChart{
            margin: 0 auto 100px;
            // overflow-x: scroll;
        }
        .orders-tab{
            margin: 0 auto 50px;
        }
    }
}