// LOGO IMG
.site-logo-2 {

  a{
    color: #000000;
      img {
        width: auto;
        height: 60px;
        position: absolute;
        top: 40px;
        left: 90px;
      }
   }
}

header {
  height: 75px;
  width: 100%;
  z-index: 900;
  position: fixed;
  margin-top: -3px;
}

.menulist {
  top: 0px;
  left: -100%;
  width: 25%;
  height: 100%;
  position:fixed;
  list-style: none;
  text-align: center;
  padding-top: 50px;
  margin-right: 0px;
  margin-right: 10px;
  transition: 0.5s;
  background:#00ccbc;
}

.menulist li {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin: 10px;
}

.menulist li a {
  text-decoration: none;
  color: #000000;
}

body > header > nav > ul > li:nth-child(1) > a {
  background-color: #ffaf53;
  padding: 10px 50px;
  border-radius: 3px;
}

.check {
  height: 71px;
  width: 60px;
  position: absolute;
  margin: 10px 15px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  z-index: 910;
}

.ham-menu {
  height: 71px;
  width: 60px;
  margin: 0px 20px 9px 15px;
  display: block;
  position: absolute;
  left: 10px;
}

input.check {
  position: absolute;
  left: 10px;
}

// CUSTOM LINES
//middle
.menuline {
  height: 3px;
  width: 30px;
  position: relative;
  margin: auto;
  display: flex;
  top: 50%;
  background: #000000;
  border-radius: 5px;
  z-index: 901;
}

//up
.menuline::before {
  content:'';
  position: absolute;
  height: 3px;
  width: 30px;
  top: -8px;
  background: #000000;
  border-radius: 5px;
}

//down
.menuline::after {
  content:'';
  position: absolute;
  height: 3px;
  width: 30px;
  top: 8px;
  background: #000000;
  border-radius: 5px;
}

.content-area {
  height: 1000px;
  width: 100%;
  text-align: center;
}

// HAMBURGER CONTENT MENU
.menulist {
  display: block;
  margin-right: 0px;
}

ul.menulist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menulist li a{
  font-size: 1.8rem;
  text-align: center;
}

// HAMBURGER CHECKBOX ANIMATION
.check:checked ~ .menulist{
  left: 0;
}
    
.check:checked ~ .ham-menu .menuline {
  transform: rotate(135deg);
  transition: 0.3s ease;
}

.check:checked ~ .ham-menu .menuline::before,.check:checked ~ .ham-menu .menuline::after {
  top: 0;
  transform: rotate(90deg);
}

// SCROLL CLASSES
.scroll-color{
  background-color: #00CCBC;
  height: 75px;
  margin-top: -3px;
}

.transparent {
  background: transparent;
}

//nav
  #search-nav {
    // min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #00CCBC;
    -webkit-box-shadow: 0 4px 10px -6px #313131;
    -moz-box-shadow: 0 4px 10px -5px #313131;
    box-shadow: 0 4px 10px -5px #313131;
  }

  #cart {
    font-size: 35px;
  }

  #container-search {
    min-width: 750px;
  }
