header{
    nav{
        .center-section{
            flex-shrink: 0;
            flex-basis: 250px;
            text-align: center;
            position: relative;
            overflow: hidden;
            .search-bar{
                width: 80%;
                height: 10px;
                background-color: white;
                border: 4px solid black;
                border-radius: 5px;
                height: 50px;
                border-radius: 0px;
                padding: 5px 10px;
                font-size: 1.1rem;
                font-family: "Fredoka One", cursive;
                text-align: center;

                transition: width 0.5s;
                &:not(:placeholder-shown){
                    width: 100%;
                    &+i{
                        right: 10px;
                    }
                }
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: black;
                    opacity: 1; /* Firefox */
                }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: black;
                }
                  
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: black;
                }
            }
            i{
                color: black;
                position: absolute;
                z-index: 100;
                font-size: 20px;
                right: 65px;
                top: 50%;
                transform: translateY(-50%);
                transition: right 0.5s;
                cursor: pointer;
            }
        }
        .rx-section{
            flex-basis: 250px;
            text-align: right;
            i{
                font-size: 35px;
                color: white;
            }
        }
    }
}